---

---

<!--  --><!-- DYNAMIC CARD COMPONENT FOR TEMPLATES/ FEATURED WORKS -->
<div id="test1" class="bg-test1 h-screen flex justify-center pt-[50px]">
  <div id="card-wrapper">
    <div id="card-container">
      <h3 id="card-title" class="">card title</h3>
      <div id="img">img</div>
      <div id="description">description</div>
    </div>
  </div>
</div>
