---
export interface Props {
  title: string;
  url: any;
  siteImg: any;
}

const { title, siteImg, url } = Astro.props as Props;
---

<div id="card-container" class="rounded-lg py-5 bg-teal">
  <div
    id="img-wrapper"
    class="w-[600px] opacity-80 hover:opacity-100 border-black border-t border-b"
  >
    <a href={url}>
      <img src={siteImg} alt="" class="w-full rounded border-2 border-black" />
    </a>
  </div>

  <div class="pl-3 pt-2 py-1 bg-">
    <h3 class="md:text-4xl text-3xl font-bold text-">{title}</h3>
    <div id="p-grid" class="grid grid-cols-6">
      <p class="col-span-5 bg-test text-onyx">
        <!-- {paragraph} -->
        sfsfssf
      </p>
    </div>
  </div>
</div>
