---
const items = [
  {
    id: 1,
    image:
      "https://images.pexels.com/photos/196644/pexels-photo-196644.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
    title: "WEB DESIGN",
  },
  {
    id: 2,
    image:
      "https://images.pexels.com/photos/4164418/pexels-photo-4164418.jpeg?auto=compress&cs=tinysrgb&w=600",
    title: "WEB DEV",
  },
  {
    id: 3,
    image:
      "https://images.pexels.com/photos/270637/pexels-photo-270637.jpeg?auto=compress&cs=tinysrgb&w=600",
    title: "STRATEGIC SEO",
  },
  {
    id: 4,
    image:
      "https://images.pexels.com/photos/4158/apple-iphone-smartphone-desk.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
    title: "MOBILE FRIENDLY",
  },
  {
    id: 5,
    image:
      "https://images.pexels.com/photos/6956129/pexels-photo-6956129.jpeg?auto=compress&cs=tinysrgb&w=600",
    title: "simplify: about, CTA, contact",
  },
  {
    id: 6,
    image:
      "https://images.pexels.com/photos/606541/pexels-photo-606541.jpeg?auto=compress&cs=tinysrgb&w=600",
    title: "SELL BY STORY",
  },
  //   {
  //     id: 7,
  //     image:
  //       "https://images.pexels.com/photos/305821/pexels-photo-305821.jpeg?auto=compress&cs=tinysrgb&w=600",
  //     // title:
  //     //   " 1.'simple and minimalist' 2.'modern' 3. 'no BS... straight to the point'",
  //     title: "simple and minimalist",
  //   },
  //   {
  //     id: 8,
  //     image:
  //       "https://images.pexels.com/photos/3796810/pexels-photo-3796810.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
  //     title: "INCREASED CUSTOMER ENGAGEMENT",
  //   },
];
---

<div class="bg-">
  <div
    id="gallery-grid"
    class="mb-5 md:px-[55px] px-1 grid 2xl:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-3 pt-2"
  >
    {
      items.map((item) => (
        <div class="">
          <p class="absolute p-2 text-parchment bg-teal border border-black lowercase dropshadow-2xl text-2xl">
            {item.title}
          </p>
          <img
            src={item.image}
            alt=""
            class="border border-black w-[650px] h-[350px] "
          />
        </div>
      ))
    }
  </div>
</div>
