---
import Image from "astro/components/Image.astro";
import TestImg1 from "../../../images/WebsiteScreenshots/test1.png";
import TestImg2 from "../../../images/WebsiteScreenshots/test2.png";
import TestImg3 from "../../../images/WebsiteScreenshots/test3.png";
import TestImg4 from "../../../images/WebsiteScreenshots/test4.png";
import TestImg5 from "../../../images/WebsiteScreenshots/test5.png";
import TestImg6 from "../../../images/WebsiteScreenshots/test6.png";

const items = [
  {
    id: 1,
    image: TestImg1,
    title: "WEB DESIGN",
    link: "/test1",
  },
  {
    id: 2,
    image: TestImg2,
    title: "WEB DEV",
    link: "/test1",
  },
  {
    id: 3,
    image: TestImg3,
    title: "STRATEGIC SEO",
    link: "/test1",
  },
  {
    id: 4,
    image: TestImg4,
    title: "MOBILE FRIENDLY",
    link: "/test1",
  },
  {
    id: 5,
    image: TestImg5,
    title: "simplify: about, CTA, contact",
    link: "/test1",
  },
  {
    id: 6,
    image: TestImg6,
    title: "SELL BY STORY",
    link: "/test1",
  },
];
---

<div class="bg- mt-5 pt-5">
  <div
    id="gallery-grid"
    class="mb-5 px-1 grid 2xl:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-3 pt-2 bg-"
  >
    {
      items.map((item) => (
        <div id="sq" class="">
          {/* <a href={item.link}> */}
          {/* <p class="absolute p-2 text-teal  bg-papaya rounded-tl-3xl rounded-br-3xl lowercase dropshadow-2xl text-2xl border border-black">
              {item.title}
            </p> */}
          <Image
            src={item.image}
            alt=""
            class="border border-carribean rounded-xl w-[400px] h-[250px] "
          />
          {/* </a> */}
        </div>
      ))
    }
  </div>
</div>
