---
export interface Props {
  btn1: any;
  btn1Link: string;
}

const { btn1, btn1Link } = Astro.props as Props;
---

<div id="btn-wrapper" class="mt-5 bg-test flex py-1">
  <button
    id="dynamic-btn"
    class="sq-styles py-1 px-2 mr-4 bg-papaya text-onyx hover:text-carribean"
  >
    <a href={btn1Link}>{btn1}</a>
  </button>
  <button
    id="contact-btn"
    class="sq-styles py-1 px-2 bg-teal text-test2 hover:text-orange"
  >
    <a href="/contact">contact</a>
  </button>
</div>
