---
export interface Props {
  btn1: any;
  btn1Link: string;
}

const { btn1, btn1Link } = Astro.props as Props;
---

<div id="btn-container" class="bg-test flex py-1 pt-2">
  <button
    id="dynamic-btn"
    class="py-1 px-2 mr-4 bg- rounded-lg bg-teal text-parchment border border-carribean"
  >
    <a href={btn1Link}>{btn1}</a>
  </button>
  <button id="contact-btn" class="py-1 px-2 bg-onyx rounded-lg text-parchment">
    <a href="/contact">contact</a>
  </button>
</div>
