---
export interface Props {
  title: string;
  image: any;
}

const { title, image } = Astro.props as Props;
---

<!-- CHECKPOINT -->
<div
  class="bg- mt-5 md:p-3 hover:cursor-pointer rounded p-3 mx-5 py-5 my-[50px]"
>
  <a href="/">
    <h2 class="font-bold text-xl pl-1 flex justify-center">{title}</h2>
    <div class="flex justify-center">
      <img src={image} alt="" class="hover:opacity-70 border border-black" />
    </div>
  </a>
</div>
