---
export interface Props {
  BannerTitle: string;
  paragraph: string;
}

const { BannerTitle, paragraph } = Astro.props as Props;
---

<section class="bg-">
  <div class="py-3 flex justify-center bg-">
    <h2 class="lg:text-5xl md:text-4xl text-3xl px-5 py-2 font-bold underline">
      {BannerTitle}
    </h2>
  </div>

  <div id="ABOUT" class="flex justify-center">
    <div class="2xl:max-w-[1160px] pt-1 px-[30px]">
      <p class="md:text-xl text-lg">{paragraph}</p>
    </div>
  </div>
</section>
