---
export interface Props {
  title: string;
  paragraph: string;
}

const { title, paragraph } = Astro.props as Props;
---

<section class="bg-test">
  <div class="py-3 flex justify-center bg-">
    <h2 class="text-5xl px-5 py-2 font-bold underline">{title}</h2>
  </div>

  <div id="ABOUT" class="flex justify-center">
    <div class="max-w-[1060px] pt-1">
      <p>{paragraph}</p>
    </div>
  </div>
</section>
