---
export interface Props {
  title: string;
  paragraph1: string;
  paragraph2: string;
  link: string;
}

const { title, paragraph1, paragraph2, link } = Astro.props as Props;
---

<div id="coral" class="bg- md:col-span-3 col-span-2">
  <div class="bg flex justify-center 2xl:mt-[150px]">
    <div
      id="content-container"
      class="bg- 2xl:w-3/4 col-span-2 2xl:mr-0 mr-[35px] 2xl:pt-5 xl:px-5 p-5 2xl:mt-[55px] space-y-8"
    >
      <h2 class="text-3xl 2xl:pt-5 2xl:mt-5 text-left font-bold underline">
        {title}
      </h2>
      <p>{paragraph2}</p>
      <p class="text-coral">
        <a class="text-" href={link}> {paragraph1}</a>
      </p>
    </div>
  </div>
</div>
