---
export interface Props {
  title: string;
  paragraph: string;
}

const { title, paragraph } = Astro.props as Props;
---

<div id="gallery-banner-wrapper" class="mt-5">
  <div
    id="gallery-banner-container"
    class="flex justify-center mt-5 py-1 text-parchment bg-teal border-2 border-onyx"
  >
    <div id="gallery-banner-padding" class="mt-5 text-center">
      <h2 class="text-5xl font-semibold">{title}</h2>
      <p class="pt-3 pb-3 text-3xl">{paragraph}</p>
    </div>
  </div>
</div>
