---
import Works from "./Works/index.astro";
import Pricing from "./Pricing.astro";
import TestTemplates from "./TestTemplates.astro";
---

<section id="CONTACT">
  <TestTemplates />
  <Works />
  <Pricing />
</section>
