@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}
.universal-img {
  border: solid 1px #000;
}

._textShadow {
  text-shadow: 1px 1px 2px #000;
}

._textShadowBold {
  text-shadow: 3px 3px 4px #000;
}

.sq-styles {
  border: 2px solid teal;
  /* padding: 10px; */
}

#window-sq {
  background: teal;
}
