p {
  font-size: 18px;
}

._ShadowBorder {
  border: solid 1px black;
  border-radius: 15px;
  box-shadow: 5px 10px #888888;
}

._PrimaryBorder {
  border: solid 1px #35373d;
  border-radius: 12px;
  box-shadow: 5px 1px #000;
}

section {
  padding-top: 150px;
}

/* //*HEADER */
.nav-menu {
  background: #0792a5;
  border-left: solid 2px #000;
  width: 30%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 100%;
  padding: 10px;
  /* transition: 1s; */
}

.nav-menu.active {
  right: 0;
  /* transition: 1s; */
  position: absolute;
  z-index: 20;
}
