---
import AboutSection1 from "../shared/AboutSection1.astro";
---

<section id="address-key-problem" class="bg-">
  <AboutSection1
    title="Pain Points to Address:"
    paragraph1="You’re an artist, not a tech coyote. No in-house web skills, and can't afford a large up-front website cost?"
    paragraph2="You’d love a website to show off your work and draw in more clients—but who has time to chase code through the desert? - Need frequent updates (event calendars, promotions, new photos/products)"
    paragraph3="Want something beautiful and functional, not generic? If building your own site feels like howling at the moon, don’t worry. You don’t need to do it all yourself."
    paragraph4="Laughing Coyote Dev builds websites that let your creativity roam free—without charging you for a bunch of things you don’t need."
  />
</section>
