---
import ButtonProps from "../shared/ButtonProps.astro";
import DynamicAboutCTA from "../shared/DynamicAboutCta";
import SubjectsBanner from "../SubjectsBanner.astro";
import WebsitesBanner from "./WebsitesBanner.astro";
// import ButtonProps from "../shared/ButtonProps.astro";
// import HowItWorks from "../HowItWorks.astro";
---

<!-- ?CONTENT TO CONSIDER V--><!-- "Think inside the box!" (explain mobile friendly, design in paddings, margins, react quick components --><!-- ### What can LC do that website builders cant? --><!-- Pain Points to Address:**- Can't afford a large up-front website cost- Need frequent updates (event calendars, promotions, new photos/products)- No in-house web skills- Want something beautiful and functional, not generic --><!-- ?CONTENT TO CONSIDER ^ --><!-- <SubjectsBanner
  item1="title test"
  item2="title test"
  item3="title test"
  item4="title test"
/> --><!-- <WebsitesBanner title="title" /> -->
<div id="PROBLEM-SOLVING-wrapper" class="bg- py-5">
  <div id="container" class="bg- 2xl:mx-0 lg:mx-[70px] mx-5">
    <div id="about-me-grid" class="grid md:grid-cols-2 grid-cols-1 gap-1">
      <div id="sq1" class="bg- flex md:justify-end justify-center">
        <div
          id="sq1-container"
          class="2xl:w-1/2 w-full flex lg:justify-end justify-center items-end"
        >
          <DynamicAboutCTA isLoggedIn={true} username="Address Key Problem" />
          <!-- <DynamicAboutCTA isLoggedIn={false} username="test" /> -->
        </div>
      </div>
      <div id="sq2" class="bg- row-span-2">
        <img
          id="primary-img"
          src="https://images.pexels.com/photos/3792581/pexels-photo-3792581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          class="sq-styles lg:p-5 p-2"
        />
      </div>

      <div id="sq3" class="bg- flex 2xl:justify-end 2xl:pl-5 md:ml-5">
        <ul class="2xl:w-1/2 w-full md:pl-1 pl-3 md:pr-3 pr-1 pt-5">
          <li>
            I'm a web developer based in Joshua Tree, CA...I became interested
            in programming when I wanted to bring my own passion projects to
            life, and did so using by learning javascript. I also enjoy creating
            colorful websites, combining niches and creating art.
          </li>
          <li>
            You’re an artist, not a tech coyote<li>
              <li>
                You’d love a website to show off your work and draw in more
                clients—but who has time to chase code through the desert?
              </li>
              <li class="py-1 mb-2">
                If building your own site feels like howling at the moon, don’t
                worry. You don’t need to do it all yourself.
              </li>
              <li>
                Laughing Coyote Dev builds websites that let your creativity
                roam free—without charging you for a bunch of things you don’t
                need.
              </li>
            </li>

            <ButtonProps
              btn1="view testimonial"
              btn1Link="/#view-testimonial"
            />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- <HowItWorks /> -->
