---

---

<div id="outer-wrapper" class="bg- my-5 py-5 bg- flex justify-center">
  <div
    id="wrapper"
    class="w-[1300px] bg- flex lg:flex-row flex-col-reverse p-5 2xl:mt-[105px]"
  >
    <div id="img-wrapper" class="lg:pr-5 lg:mr-5 bg-">
      <img
        src="https://images.pexels.com/photos/6962993/pexels-photo-6962993.jpeg"
        alt=""
        class="my-2 mr- sq-styles"
      />
    </div>
    <section class="p- bg-" id="PRODUCT DEFINITION">
      <div class="bg-teal sq-styles text-parchment p-5 mt-5 mb-5">
        <h2 class="font-bold text-2xl">AIDA</h2>

        <!--TODO CHANGE TO AIDA V--><!-- * CURRENTLY: FIGURE OUT AIDA SECTION -->
        <div class="bg-">
          <p id="attention">attention-</p>
          <p id="interest">
            Most web design services focus on tech, speed, or business
            optimization. Few lean into artisanal design, emotional
            storytelling, and cozy aesthetics the way this concept (lc) does.
          </p>
          <p id="desire">desire-</p>
          <p id="action">action-</p>
        </div>
      </div>
    </section>
  </div>
</div>
