---
import AboutSection2 from "../shared/AboutSection2.astro";
---

<div id="AIDA" class="bg- md:px-5 px-0">
  <AboutSection2
    title="Various styles"
    subtitle="NEW AIDA"
    paragraph1="Before I was struggling with [problem,] and it made me feel [negative emotion]. Now I have acheived this [result], and I feel [positive emotion]."
  />
</div>
