---
import WebDevGrid from "../WebDevGrid.astro";
import CTA1 from "./CTA1.astro";
---

<div id="teal-background" class="bg-teal text-parchment">
  <CTA1
    title="About me"
    paragraph1="Hi there, I'm Elsa...I build websites with neurodivergent users in mind — helping your business grow while empowering the projects that matter most to you. I design accessible, neurodiversity-aware web experiences that attract more attention to your business and align with your passion-driven goals."
    paragraph2=""
    link="/about#about-me-grid"
  />
  <WebDevGrid />
</div>
