---
import WebDevGrid from "../WebDevGrid.astro";
import CTA1 from "./CTA1.astro";
---

<div id="teal-background" class="bg-teal text-parchment">
  <CTA1
    title="About me"
    paragraph1="This is the call-to-action to the 'about me' on about page."
    paragraph2="OR FOR HERE... -Hi there, I'm Elsa... I provide web design services focused on landing pages, and content creation for small business brand!"
    link="/about#about-me-grid"
  />
  <WebDevGrid />
</div>
