---
import ContactForm from "../ContactForm";
import FinalCta from "../FinalCta.astro";
import CenterPageBanner from "../shared/CenterPageBanner.astro";
---

<div class="pb-[50px]">
  <!-- <div class="bg-parchment text-teal border border-black"> -->
  <CenterPageBanner
    BannerTitle="Contact"
    paragraph="I build custom applications for small businesses."
  />
  <!-- </div> -->
  <div class="grid 2xl:grid-cols-2 pt-[90px]">
    <FinalCta />
    <ContactForm />
  </div>
</div>
