---
const items = [
  {
    title: "instagram",
    img: "https://cdn4.iconfinder.com/data/icons/picons-social/57/38-instagram-2-512.png",
    link: "https://instagram.com",
  },
  {
    title: "facebook",
    img: "https://cdn3.iconfinder.com/data/icons/picons-social/57/06-facebook-512.png",
    link: "https://facebook.com",
  },
  {
    title: "linkedIn",
    img: "https://cdn3.iconfinder.com/data/icons/picons-social/57/11-linkedin-512.png",
    link: "https://linkedIn.com",
  },
];
---

<section id="contact" class="py-5">
  <div class="px-5 md:px-10">
    <div class="mx-auto w-full max-w-7xl">
      <div class="py-16 md:py-24 lg:py-32">
        <div
          class="bg- grid items-center max-[991px]:justify-items-start grid-cols-2 gap-8 sm:gap-20"
        >
          <div class="sq-styles max-[991px]:max-w-[720px]">
            <div class="p-5">
              <h2 class="font-bold mb-2 text-3xl md:text-5xl">Contact</h2>
              <div class="ml-0 mr-0 mt-4 max-w-[528px]">
                <p class="max-[479px] text-lg">Lets work together!</p>
                <p class="max-[479px] text-lg">
                  <a href="mailto:elsahvy@gmail.com"> Email me</a>
                </p>
              </div>

              <div class="mb-8 max-w-[480px] text-lg">
                <p class="max-[479px]:text-sm">
                  Looking forward to hearing from you!
                </p>
              </div>
            </div>
          </div>
          <div class="bg-teal rounded-md p-5">
            <h1 class="text-3xl text-onyx">lets connect</h1>
            <div
              class="flex justify-center px-1 py-2 dropshadow-2xl my-3 border border-test2 rounded"
            >
              {
                items.map((item) => (
                  <div class="hover:opacity-70 ">
                    <a class="" href={item.link}>
                      <div class="">
                        <img
                          src={item.img}
                          alt=""
                          height="45px"
                          width="45px"
                          class=""
                        />
                      </div>
                    </a>
                  </div>
                ))
              }
            </div>

            <p>
              LC dev was created by
              <span class="pl-1 font-bold text-onyx underline hover:text-black">
                <a
                  href="https://elsahovey.com"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  Elsa Hovey
                </a>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
