---
import ContactForm from "../ContactForm";
import FinalCta from "../FinalCta.astro";
import CenterPageBanner from "../shared/CenterPageBanner.astro";
---

<div class="pb-[50px]">
  <CenterPageBanner
    BannerTitle="Contact"
    paragraph="I build custom applications for small businesses."
  />

  <div class="grid 2xl:grid-cols-2">
    <FinalCta />
    <ContactForm />
  </div>
</div>
