---
export interface Props {
  title: string;
  paragraph1: string;
  paragraph2: string;
  link: string;
}

const { title, paragraph1, paragraph2, link } = Astro.props as Props;
---

<div id="flex" class="bg grid md:grid-cols-4 grid-cols-1">
  <div id="TEAL" class="md:col-span-3 col-span-2">
    <div class="bg flex justify-center 2xl:mt-[150px]">
      <div
        id="content-container"
        class="bg- 2xl:w-3/4 col-span-2 2xl:mr-0 mr-[35px] 2xl:pt-5 xl:px-5 p-5 2xl:mt-[55px] space-y-8"
      >
        <h2 class="text-3xl 2xl:pt-5 2xl:mt-5 text-left font-bold underline">
          {title}
        </h2>
        <p>
          <a class="text-" href={link}> {paragraph1}</a>
        </p>
        <p>{paragraph2}</p>
      </div>
    </div>
  </div>
  <div
    id=""
    class="bg- flex md:flex-col flex-row px-2 lg:space-y-5 lg:gap-0 gap-4"
  >
    <img
      src="https://dl.dropboxusercontent.com/scl/fi/r2memu9vr71tw03oe57kz/IMG_0300.jpg?rlkey=k9upvwvx4vudmyv88f8srhxlu&st=g5s7cqo5&dl=0"
      alt=""
      class="bg-teal sq-styles-teal w-full 2xl:h-[300px] h-[230px]"
    />
    <img
      src="https://dl.dropboxusercontent.com/scl/fi/r2memu9vr71tw03oe57kz/IMG_0300.jpg?rlkey=k9upvwvx4vudmyv88f8srhxlu&st=g5s7cqo5&dl=0"
      alt=""
      class="sq-styles-teal w-full 2xl:h-[300px] h-[230px]"
    />
  </div>
</div>
