---
import ButtonProps from "../shared/ButtonProps.astro";
---

<section
  id="featured-client"
  class="border border- 2xl:p-[150px] p-1 my-[95px] bg-"
>
  <div id="grid" class="grid lg:grid-cols-2 grid-cols-1 gap-x-3">
    <div id="sq1" class="bg- mx-2 md:px-4 pl-0">
      <img
        src="https://dl.dropboxusercontent.com/scl/fi/r2memu9vr71tw03oe57kz/IMG_0300.jpg?rlkey=k9upvwvx4vudmyv88f8srhxlu&st=fhrency5&dl=0"
        class="sq-styles"
      />
    </div>
    <div
      id="sq2"
      class="bg- flex justify-start items-end md:pb-5 pb-[55px] md:pr-5 p-1 ml-2"
    >
      <ul class="md:text-lg text-md pt-1 pl-4">
        <div class="text-md">Hovey Roofing</div>
        <p class="text-3xl font-extrabold">Featured Client</p>

        <li class="lowercase">
          <b>-</b><a href="/web-development" class="font-semibold">
            CREATING A WEBSITE,</a
          >
          TO INCREASE YOUR POTENTIAL CUSTOMERS?
        </li>
        <li class="lowercase">
          <b>-</b> The ablity to tell your <a href="/writing" class="font-bold"
            >story and brand?</a
          >
        </li>
        <li>
          <b>-</b> Peace of mind... for business owners who don't have time to build
          with software.
        </li>
        <!-- * BTN WRAPPER-undecided v-->
        <!-- <ButtonProps
          btn1="why choose LC?"
          btn2="contact"
          btn1Link="/#chooseLC"
          btn2Link="/#contact"
        /> -->
        <!-- * BTN WRAPPER   ^-->
        <!-- <li>
                   <b>-</b> Increased potential customers, easier to find on Google.
                 </li> -->

        <!-- <li>
              <b>-</b> A custom website that fits your business, personality, goals...
              and you alone.
            </li> -->
        <div id="featured-site-testomonial" class="italic mt-3 mb-1">
          "Lorem ipsu psum illum? Consectetur corrupti maiores aliquam laborum
          dolorum!"
        </div>
        <!-- * BTN WRAPPER   v-->
        <ButtonProps btn1="view case study" btn1Link="/websites/hoveyroofing" />
        <!-- * BTN WRAPPER   ^-->
      </ul>
    </div>
  </div>
</section>
