---
import CenterPageBanner from "../shared/CenterPageBanner.astro";
import Website from "../Website.astro";
---

<h2>FEATURED SITES</h2>
<Website
  title1="Simple Pg- Hovey Roofing"
  title2="Stylish templates design for- LC"
  p1="Static landing pg brochure, client side, site-Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta sit laboriosam deleniti, consectetur obcaecati id. Provident illo veniam pariatur beatae nulla minima sed? "
  p2="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta sit laboriosam exercitationem beatae, similique voluptatem fuga velit a deleniti,"
  img1="https://images.pexels.com/photos/196645/pexels-photo-196645.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
  img2="https://images.pexels.com/photos/606541/pexels-photo-606541.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
/>
