---
import HeroGrid from "../shared/grids/HeroGrid.astro";
---

<div id="hero" class="bg- lg:mt-[100px] mt-5 md:pl-5 pl-0 md:pr-[50px] pr-2">
  <HeroGrid
    title=" A subscription website service for busy small-businesses owners..."
    listitem1="website creation"
    listitem2="the ablity to tell your story and brand"
    listitem3=" Increased potential customers, easier to find on Google."
    listitem4="A custom website that fits your business, personality, goals... and you alone."
    heroImg="https://dl.dropboxusercontent.com/scl/fi/xzf hk2jletg2hqwc9ecks/coyote.png?rlkey=xtfjf7plvgb8y3fjxdij0vdt5&st=xf6njv83&dl=0"
  />
</div>
