---

---

<div id="hero-wrapper" class="text-carribean flex justify-center items-center">
  <div
    id="hero-container"
    class="bg-test text-center max-w-[1000px] h-1/2 bg- mb-[100px] mt-[270px]"
  >
    <ul class="text-2xl">
      <li id="tagline" class="text-">Laughing Coyote Dev</li>
      <li id="hero title" class="font-bold text-5xl my-5">
        A subscription website service for busy small-businesses owners...
      </li>
      <li class="bg- flex justify-center">
        <div class="max-w-[500px]">
          A custom website that fits your business, personality, goals... and
          you alone.
        </div>
      </li>
    </ul>
  </div>
</div>
