---

---

<!-- ?CONTENT TO CONSIDER V--><!-- answers questions: 
1.What clients do I want to attract? 
2.What is it? 
3.Who is this for?
4. How will it make my life better?
5. What should I do next?
<!-- ?CONTENT TO CONSIDER ^-->
<section id="hero" class="bg- text-carribean flex justify-center items-center">
  <div
    id="hero-container"
    class="bg-test text-center max-w-[1000px] h-1/2 bg- mb-[100px] mt-[270px]"
  >
    <ul class="text-2xl">
      <li id="tagline" class="md:text-lg text-md opacity-80">
        Laughing Coyote Dev
      </li>
      <li
        id="hero title"
        class="font-bold 2xl:text-5xl md:text-3xl text-xl my-5 2xl:mx-5 md:mx-[150px] mx-5 bg-"
      >
        A subscription website service for busy small-businesses owners...
      </li>
      <li class="bg- flex justify-center">
        <p class="max-w-[500px] md:text-xl text text-carribean">
          with a desire to reach new customers online and grow your business. <span
            class="underline"
            ><a class="" href="/#packages">see packages 💻 </a></span
          >
        </p>
      </li>
    </ul>
  </div>
</section>
