---
import SectionGrid from "../shared/grids/SectionGrid.astro";
---

<div id="HERO-section" class="text-carribean 2xl:px-[150px] md:px-[40px] px-3">
  <SectionGrid
    title=" A subscription website service for busy small-businesses owners..."
    listitem1="website creation- IMMEDIATE GOAL: HOW WILL LC MAKE CLIENTS LIFE BETTER?)"
    listitem2="the ablity to tell your story and brand"
    listitem3=" Increased potential customers, easier to find on Google."
    listitem4="A custom website that fits your business, personality, goals... and you alone."
    sq2_img="https://dl.dropboxusercontent.com/scl/fi/xzf hk2jletg2hqwc9ecks/coyote.png?rlkey=xtfjf7plvgb8y3fjxdij0vdt5&st=xf6njv83&dl=0 "
    dynamicBtn="Who LC helps: "
    btn2="Contact"
    dynamicBtnLink="/#about"
    btnLink2="/contact"
  />
</div>
