---
import WebDevGrid from "../WebDevGrid.astro";
import CTA2 from "./CTA2.astro";
---

<!-- ?CONTENT TO CONSIDER V--><!-- Aesthetic & Brand Differentiation --><!-- Emphasize “cozy,” “colorful,” and “human” design language --><!-- ?CONTENT TO CONSIDER ^ -->
<div class="bg-">
  <WebDevGrid />
  <CTA2
    title="How It Works"
    paragraph1="This is the web-development page call-to-action."
    link="/web-development"
    paragraph2="I provide web design services focused on landing pages, and content creation for small business brand! I create focus-friendly, inclusive websites that elevate your brand and support the work that truly excites you."
    link="/web-development"
  />
</div>
