---
import WebDevGrid from "../WebDevGrid.astro";
import CTA2 from "./CTA2.astro";
---

<div class="bg-">
  <WebDevGrid />
  <CTA2
    title="How It Works"
    paragraph1="This is the web-development page call-to-action."
    link="/web-development"
    paragraph2="Web dev exclusive content"
    link="/web-development"
  />
</div>
