---
import ButtonProps from "../shared/ButtonProps.astro";
import CenterPageBanner from "../shared/CenterPageBanner.astro";
---

-> <!-- TODO CURRENTLY: ASTRO/ TAILWIND PORTFOLIO STYLES- USE all sites FOR NOW-v-->

<div id="see-different-styles" class="bg- mt-[150px] 2xl:px-[150px] pt-5">
  <CenterPageBanner
    BannerTitle="Porfolio Styles"
    paragraph="Visual Style & Design Elements Think “boho meets browser”:"
  />
  <div id="wrapper" class="2xl:m-5 2xl:p-5 flex justify-center">
    <div id="container" class="p-5 m-5">
      <div id="grid" class="bg- grid md:grid-cols-2 gap-5 gap-y-12">
        <div id="rq-sq1" class="flex justify-center items-center pt-5 mt-5">
          <ul>
            <li>
              rq- Color Palette: Muted earth tones, vintage pastels, and rich
              accent colors (like ochre, dusty rose, sage, ink blue.)
            </li>
            <li>
              rq- Textures: Paper grain, watercolor washes, layered collages
            </li>
            <li>
              rq- Typography: Soft serif headlines (like Cormorant Garamond or
              Playfair) + friendly sans-serifs (like Quicksand or DM Sans).
            </li>
          </ul>
        </div>
        <div id="rq-sq2" class="">
          <img
            src="https://dl.dropboxusercontent.com/scl/fi/zdvqgpkxstz9g3vr5k70l/1-2-25-rq.png?rlkey=nnsad2qpj4i0e3bti5gkqy8gf&st=46k5gk9p&dl=0"
            class="sq-styles"
          />
        </div>

        <div id="roof-sq3" class="bg-">
          <img
            src="https://dl.dropboxusercontent.com/scl/fi/r2memu9vr71tw03oe57kz/IMG_0300.jpg?rlkey=k9upvwvx4vudmyv88f8srhxlu&st=g5s7cqo5&dl=0"
            class="sq-styles"
          />
        </div>
        <div id="roof-sq4" class="flex justify-center items-center pt-5 mt-5">
          <ul>
            <li>
              roof- Illustration Style: Sketchy icons, line drawings of tools
              (paintbrushes, cameras, books, etc.), dotted borders and torn
              edges
            </li>
            <li>
              roof- Microinteractions: Hover animations like brush strokes
              appearing, cursor turning into a paintbrush, loading screens with
              small “art studio” metaphors
            </li>
          </ul>
        </div>

        <div
          id="wTBH-sq5"
          class="bg- flex justify-center items-center pt-5 mt-5"
        >
          <div>
            <h3 class="font-bold text-2xl">Portfolio-First Design: -</h3>
            <p>
              Build sites that feel like immersive galleries or journals,
              Storytelling Frameworks: Let creatives tell their brand story
              visually and emotionally.
              <span class="underline"
                ><a href="/">- see Writing to Better Health</a></span
              >
            </p>
          </div>
        </div>
        <div id="wTBH- -q6" class="bg-">
          <img
            src="https://dl.dropboxusercontent.com/scl/fi/7a3l8ubz95eom7np54z39/2-23-25.png?rlkey=l0v1smbmzd7vqdpyt7mh708xh&st=qfq5tc9z&dl=0"
            class="sq-styles"
          />
        </div>

        <div id="VARIOUS STYLES-sq7" class="bg-">
          <img
            src="https://dl.dropboxusercontent.com/scl/fi/jtfnbqyqk5ly03x5kspuz/wtbh-3-26-24.png?rlkey=0igc90thtm07w1i9cardfeu3h&st=7772vkke&dl=0"
            class="sq-styles"
          />
        </div>
        <div
          id="VARIOUS STYLES-sq8"
          class="bg- flex justify-center items-center pt-5 mt-5"
        >
          <div id="test2">
            <ul>
              <h3 class="font-bold text-2xl">VARIOUS STYLES-</h3>
              <li>
                <!-- Storytelling Frameworks: Let creatives tell
                their brand story visually and emotionally. -->
              </li>
              <li>
                Creative Companion Calls: A process that feels more like an
                artist collaboration than a business transaction. Think of each
                site as a collaborative a rtwork: your client brings the
                inspiration, and you bring the technical brushstrokes
              </li>
              <li>
                “Palette Picker” Questionnaire: Help clients choose colors based
                on their work and style.
              </li>
              <li>
                Microinteractions: Hover animations like brush strokes
                appearing, cursor turning into a paintbrush, loading screens
                with small “art studio” metaphors
              </li>
            </ul>
            <ButtonProps btn1="see how LC works" btn1Link="/#how-it-works" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
