---
import DynamicAboutCTA from "../DynamicAboutCTA";
import ButtonProps from "../shared/ButtonProps.astro";
---

<div id="wrapper" class="bg- py-5 my-5">
  <div id="container" class="">
    <div id="grid" class="grid md:grid-cols-2 grid-cols-1 gap-5">
      <div id="sq1" class="bg- flex md:justify-end justify-center">
        <div
          id="sq1-container"
          class="2xl:w-1/2 w-full flex lg:justify-end justify-center items-end bg-"
        >
          <DynamicAboutCTA isLoggedIn={true} username="Problem Solving" />
          <!-- <DynamicAboutCTA isLoggedIn={false} username="test1" /> -->
        </div>
      </div>
      <div id="sq2" class="lavender row-span-2">
        <img
          id="primary-img"
          src="https://images.pexels.com/photos/3792581/pexels-photo-3792581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          class="sq-styles p-5 m-5"
        />
      </div>
      <!-- <div class="my-[150px]">
  <div
    id=""
    class="bg-teal text-parchment py-2 border border-black flex items-center"
  >
    <ul class="px-3 mr-3 list-none text-3xl">
      <li>software development</li>
      <li class="py-1 my-5">web design</li>
      <li>copywriting</li>
    </ul>
    <WebDevGridSm />
  </div>
</div> -->
      <div id="sq3" class="bg- flex md:justify-end pl-5 ml-5">
        <ul class="bg- 2xl:w-1/2 md:w-2/3 w-full">
          <li>
            a digital creative studio where clients' visions (userstories??) are
            translated into vivid, handcrafted websites.
          </li>
          <li>
            -(address key problem your client is experiencing' Ive spent time
            learning how to simplify the design process so you can focus on your
            business instead)
          </li>
          <li>-the ablity to tell your story and brand</li>
          <li>Highly Personalized</li>
          <li>Artistically Driven</li>
          <li>Crafted in Code</li>
          <li>Increased potential customers, easier to find on Google.</li>
          <li>The people I'm looking to serve...</li>
          <li>
            Unique Selling Point: You're not just designing websites—you’re
            co-creating digital homes for passionate people. You get their
            creative process because you share it.
          </li>
          <ButtonProps btn1="see work" btn1Link="/work" />
        </ul>
      </div>
    </div>
  </div>
</div>
