---
import DynamicAboutCTA from "../shared/DynamicAboutCta";
// import ButtonProps from "../shared/ButtonProps.astro";
// import HowItWorks from "../HowItWorks.astro";
---

<div id="PROBLEM-SOLVING-wrapper" class="py-5 mt-[55px]">
  <div id="container" class="2xl:mx-0 mx-5">
    <div id="grid" class="bg- grid md:grid-cols-2 grid-cols-1 gap-1">
      <div id="sq1" class="bg- flex md:justify-end justify-center">
        <div
          id="sq1-container"
          class="2xl:w-1/2 w-full flex lg:justify-end justify-center items-end"
        >
          <DynamicAboutCTA
            isLoggedIn={true}
            username=" Get Unstuck and Go Wild with Your Website!"
          />
          <!-- <DynamicAboutCTA isLoggedIn={false} username="test" /> -->
        </div>
      </div>
      <div id="sq2" class="bg- row-span-2">
        <img
          id="primary-img"
          src="https://images.pexels.com/photos/3792581/pexels-photo-3792581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          class="sq-styles lg:p-5 p-2"
        />
      </div>

      <div id="sq3" class="bg- flex 2xl:justify-end 2xl:pl-5 md:ml-5">
        <ul class="2xl:w-1/2 w-full md:pl-1 pl-3 md:pr-3 pr-1 pt-5">
          <li>
            You’re an artist, not a tech coyote<li>
              <li>
                You’d love a website to show off your work and draw in more
                clients—but who has time to chase code through the desert?
              </li>
              <li class="py-1 mb-2">
                If building your own site feels like howling at the moon, don’t
                worry. You don’t need to do it all yourself.
              </li>
              <li>
                Laughing Coyote Dev builds websites that let your creativity
                roam free—without charging you for a bunch of things you don’t
                need.
              </li>
            </li>

            <!-- <ButtonProps
              btn1="view testimonial"
              btn1Link="/#view-testimonial"
            /> -->
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- <HowItWorks /> -->

<div id="outer-wrapper" class="flex justify-center">
  <div
    id="wrapper"
    class="w-[1300px] bg- flex lg:flex-row flex-col-reverse p-5 2xl:mt-[105px]"
  >
    <!-- ? -->
    <!-- ! 2. PRODUCT DEF -->
    <!--TODO: productDef="LC-What is the product, service, or idea you're promoting?" v-->
    <div id="img-wrapper" class="lg:pr-5 lg:mr-5 bg-">
      <img
        src="https://images.pexels.com/photos/6962993/pexels-photo-6962993.jpeg"
        alt=""
        class="my-2 mr- sq-styles"
      />
    </div>
    <section class="p- bg-" id="PRODUCT DEFINITION">
      <div class="bg-teal sq-styles text-parchment p-5 mt-5 mb-5">
        <h2 class="font-bold text-2xl">
          What can LC do that website builders cant?
        </h2>

        <!-- <h2>**Pain Points to Address:**</h2>
      <ul>
        <li>- Can't afford a large up-front website cost</li>
        <li>
          - Need frequent updates (event calendars, promotions, new
          photos/products)
        </li>
        <li>- No in-house web skills</li>
        <li>- Want something beautiful and functional, not generic</li>
      </ul> -->

        <p class="">
          Laughing Coyote Dev is a digital creative studio where clients'
          visions (userstories??) are translated into vivid, handcrafted
          websites.
        </p>
        <p>
          Most web design services focus on tech, speed, or business
          optimization. Few lean into artisanal design, emotional storytelling,
          and cozy aesthetics the way this concept (lc) does.
        </p>
        <p>
          ## Custom built ecommerce I’ve built have a guarantee written in
          contract that when the site is finished, they will pass all Google’s
          Lighthouse with at least 95% score on any page. No platform will ever
          obtain these scores.
        </p>
      </div>
    </section>
  </div>
</div>
