---
import CenterPageBanner from "../../components/shared/CenterPageBanner.astro";
import WebDevGridSm from "../../components/shared/grids/WebDevGridSm.astro";
import WhatsIncluded from "../../components/ctas/WhatsIncluded.astro";
import About from "../../components/sections/About.astro";
import MainGoal from "../../components/MainGoal.astro";
---

<!-- TODO 4. PROBLEM SOLVING SECTION- short headline w/ paragraph- v->
  <!-- !CHANGE ABOUT COMP, then INSERT comp sections  --><!-- ? UNSURE IF KEEPING V-->
<div id="banner-wrapper" class="mt-[150px] text-">
  <CenterPageBanner
    BannerTitle="Web Development"
    paragraph="I build custom applications for small businesses."
  />
</div>
<!-- ? UNSURE IF KEEPING ^-->
<WhatsIncluded />
<About />
<MainGoal />
<WebDevGridSm />
<!-- TODO ^^^^^^^^^^^^^^^^^^^^^^^^-->
