---
import ProblemSolvingSection from "../ctas/ProblemSolvingSection.astro";
import SocialProof from "../ctas/SocialProof.astro";
import HowItWorks from "../ctas/HowItWorks.astro";
---

<!-- TODO: USE BRAND STORY SCRIPT vvvvv---https://www.notion.so/Creative-Business-Blueprint-526e7a26b6894938ad174aca80bee741?p=8a1222c20fc546ed92d60fb1d882c90b&pm=c-->
<section id="services" class="mt-[150px]">
  <!-- !- combine 2 & 3! v-->
  - <!-- *2. problem solving section v-->
  <ProblemSolvingSection />
  <!--  -->
  <!--  -->
  <!--  -->
  <!-- * 3. [social proof-- 'highlights desirable outcome' ]-- 7. about me  v-->
  <SocialProof />
  <!-- !- combine 2 & 3! ^-->
  <!--  -->
  <!--  -->
  <!--  -->
  - <!-- * 4. first person---how it works- (4 sq grid: 'gives client a plan')-- v-->
  <HowItWorks />
</section>
<!-- TODO: USE BRAND STORY SCRIPT ^^^^^-->
