---
import ButtonProps from "../shared/ButtonProps.astro";
---

<div id="flex" class="grid grid-cols-4">
  <div id="TEAL" class="col-span-3">
    <div class="bg- flex justify-center mt-[150px]">
      <div
        id="packages-container"
        class="w-3/4 col-span-2 xl:mx-5 xl:px-5 pt-5 mt-[55px] space-y-8"
      >
        <h2 class="font-bold text-3xl pt-5 mt-5">frontend</h2>
        <p class="bg-">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum
          consectetur maiores provident, dicta magnam quia? Sequi similique, est
          error rerum nulla eum commodi reprehenderit ipsum veritatis quisquam
          minima vitae libero!
        </p>

        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum
          consectetur maiores provident, dicta magnam quia? Sequi similique, est
          error rerum nulla eum commodi reprehenderit ipsum veritatis quisquam
          minima vitae libero!
        </p>
      </div>
    </div>
  </div>
  <div id=" " class="px-2 space-y-1">
    <img
      src="https://dl.dropboxusercontent.com/scl/fi/r2memu9vr71tw03oe57kz/IMG_0300.jpg?rlkey=k9upvwvx4vudmyv88f8srhxlu&st=g5s7cqo5&dl=0"
      alt=""
      class="sq-styles-teal"
    />
    <img
      src="https://dl.dropboxusercontent.com/scl/fi/r2memu9vr71tw03oe57kz/IMG_0300.jpg?rlkey=k9upvwvx4vudmyv88f8srhxlu&st=g5s7cqo5&dl=0"
      alt=""
      class="sq-styles-teal"
    />
    <!-- <img
      src="https://dl.dropboxusercontent.com/scl/fi/r2memu9vr71tw03oe57kz/IMG_0300.jpg?rlkey=k9upvwvx4vudmyv88f8srhxlu&st=g5s7cqo5&dl=0"
      alt=""
      class="sq-styles-teal"
    /> -->
  </div>
</div>
