---

---

<div
  id="testimonial-wrapper"
  class="bg-parchment m=-5 py-5 bg- flex justify-center"
>
  <div
    id="testimonial-container"
    class="w-[1300px] bg- flex lg:flex-row flex-col-reverse p-5 2xl:mt-[105px]"
  >
    <div id="img-wrapper" class="lg:pr-5 lg:mr-5 bg-">
      <img
        src="https://images.pexels.com/photos/6962993/pexels-photo-6962993.jpeg"
        alt=""
        class="my-2 mr- sq-styles"
      />
    </div>

    <div id="testimonial-content-container" class="">
      <div
        id="testimonial-content"
        class="bg-parchment sq-styles text-teal p-5 mt-5 mb-5"
      >
        <h2 class="font-bold text-2xl">HoveyRoofing Testimonial</h2>

        <!--TODO CHANGE TO AIDA V--><!-- * CURRENTLY: FIGURE OUT AIDA SECTION -->
        <p id="" class="bg-">
          This is the paragraph content for HoveyRoofing. Lorem ipsum dolor sit
          amet consectetur adipisicing elit. Culpa, inventore unde! Animi totam
          excepturi quasi molestiae quisquam libero sit distinctio, possimus
          vero, ab quia rem laudantium vel alias quidem tempore!
        </p>
      </div>
    </div>
  </div>
</div>
