---

---

<div id="packages-section" class="grid grid-cols-3 bg-">
  <div
    id="bg-test1"
    class="sq-styles-teal bg- col-span-1 test1 mt-5 ml-1 px-2 space-y-5"
  >
    <img
      src="https://dl.dropboxusercontent.com/scl/fi/r2memu9vr71tw03oe57kz/IMG_0300.jpg?rlkey=k9upvwvx4vudmyv88f8srhxlu&st=g5s7cqo5&dl=0"
      alt=""
      class="sq-styles w-[460px]"
    />
    <img
      src="https://dl.dropboxusercontent.com/scl/fi/r2memu9vr71tw03oe57kz/IMG_0300.jpg?rlkey=k9upvwvx4vudmyv88f8srhxlu&st=g5s7cqo5&dl=0"
      alt=""
      class="sq-styles w-[460px]"
    />
    <!-- <img
      src="https://dl.dropboxusercontent.com/scl/fi/r2memu9vr71tw03oe57kz/IMG_0300.jpg?rlkey=k9upvwvx4vudmyv88f8srhxlu&st=g5s7cqo5&dl=0"
      alt=""
      class="sq-styles w-[460px]"
    /> -->
  </div>

  <div
    id="packages-container"
    class="w-3/4 col-span-2 xl:mx-5 xl:px-5 pt-5 mt-[55px] space-y-8"
  >
    <h2 class="text-3xl pt-5 mt-5 text-right font-bold underline">backend</h2>
    <p class="bg-">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum
      consectetur maiores provident, dicta magnam quia? Sequi similique, est
      error rerum nulla eum commodi reprehenderit ipsum veritatis quisquam
      minima vitae libero!
    </p>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum
      consectetur maiores provident, dicta magnam quia? Sequi similique, est
      error rerum nulla eum commodi reprehenderit ipsum veritatis quisquam
      minima vitae libero!
    </p>
  </div>
</div>
