---
import FourImgBanner from "../FourImgBanner.astro";
---

<!-- ?UNSURE WHAT TO NAME THIS COMP -->
<div class="bg-">
  <div class="md:absolute relative">
    <FourImgBanner />
  </div>
  <div id="skewed-transition" class="skewed-wrapper">
    <div class="skewed-bg"></div>
    <div class="content"></div>
  </div>
</div>
