---
import CenterPageBanner from "../shared/CenterPageBanner.astro";
// import GalleryGrid from "../shared/grids/GalleryGrid.astro";
import HomePageGrid from "../shared/grids/HomePageGrid.astro";
---

<section id="web-development">
  <CenterPageBanner
    BannerTitle="Web Dev- (What LC offers)"
    paragraph="Multiple Designs available for your imagination!"
  />

  <!-- : COME BACK TO: CREATE DYNAMIC GALLERY GRID FROM HOMEPAGE GRID'  v-->
  <!-- <GalleryGrid /> -->
  <HomePageGrid />
  <!-- : COME BACK TO: CREATE DYNAMIC GALLERY GRID FROM HOMEPAGE GRID'  ^-->
</section>
