---
import WebDevGrid from "../WebDevGrid.astro";
---

<div class="bg-">
  <div class="md:absolute relative">
    <WebDevGrid />
  </div>
  <div id="skewed-transition" class="skewed-wrapper">
    <div class="skewed-bg"></div>
    <div class="content"></div>
  </div>
</div>
