---
import Packages from "../Packages.astro";
---

<section id="web-development" class="mt-[200px]">
  <!-- *5.whats included [2 panel packages display]---------v--->
  <Packages />
  <!-- TODO: whats included [2 panel packages display, convince clients to take action] --->
  <!-- *5.whats included [2 panel packages display]---------^--->

  <!--  -->
  <!--  -->
  <!--  -->
  <!-- *11 cta- (add section to build more authority, 19:36) v-->
  <!--  -->
  <!--  -->
  <!--  -->
  <!-- 10. faq v-->
  - <!-- *8 is this for me? (21:13)v-->
  <!--  -->
  <!--  -->
  <!--  -->
  <!-- *9 this is not for you if v -->
  <!--  -->
  <!--  -->
  <!--  -->
  <!-- *6 are you ready? -->
</section>
