---
import CenterPageBanner from "../shared/CenterPageBanner.astro";
import HomePageGrid from "../shared/grids/HomePageGrid.astro";
---

<section id="web-development">
  <!-- todo: CHOOSE 'CENTER' OR 'GALLERY' BANNER -->

  <CenterPageBanner
    BannerTitle="Web Dev- (What LC offers)"
    paragraph="Multiple Designs available for your imagination!"
  />
  <HomePageGrid />
</section>
