---
import GalleryBanner from "../GalleryBanner.astro";
import HomePageGrid from "../shared/grids/HomePageGrid.astro";
---

<section id="web-development">
  <!-- todo: CHOOSE 'CENTER' OR 'GALLERY' BANNER -->
  <GalleryBanner
    title="Web Development- (What LC offers)"
    paragraph="Multiple Designs available for your imagination!"
  />
  <HomePageGrid />
</section>
