---
import HowItWorks from "../ctas/HowItWorks.astro";
import WhatsIncluded from "../ctas/WhatsIncluded.astro";
import CenterPageBanner from "../shared/CenterPageBanner.astro";
import SocialProof from "../ctas/SocialProof";
import ProblemSolving from "../ctas/ProblemSolving.astro";
---

<section id="about" class="">
  <!-- ?  UNSURE IF NEEDED v-->
  <!-- ?<div id="website-services">
    ?<CenterPageBanner BannerTitle="Social Proof" paragraph="" />
  ?</div> ^-->
  <SocialProof />
  <ProblemSolving />
  <HowItWorks />
  <WhatsIncluded />
</section>
