---
import HowItWorks from "../ctas/HowItWorks.astro";
import WhatsIncluded from "../ctas/WhatsIncluded.astro";
import DynamicBanner from "../shared/Dynamic_Banner.astro";
import GalleryGrid from "../shared/grids/GalleryGrid.astro";
---

<section id="" class="">
  <HowItWorks />
</section>
<section
  id="website-services"
  class="bg- text-teal border border- mt-5 py-[110px]"
>
  <DynamicBanner
    headline="Website Services"
    paragraph1="storytelling through fiction and business  '"
    paragraph2="storytelling through fiction and business  '"
    paragraph3="storytelling through fiction and business  '"
  />
  <GalleryGrid />
  <WhatsIncluded />
</section>
