---
import Card from "../../components/Card.astro";

const items = [
  {
    title: "Hovey Roofing",
    paragraph:
      "1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam maiores cupiditate non illum, ducimus ad vero repellendus accusamus iure quod? Praesentium vel, non vero ex optio recusandae nulla maxime dolorum!",
    image:
      "https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
    url: "https://hoveyroofing.com",
  },
  {
    title: "Generations Backflow",
    paragraph:
      "3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam maiores cupiditate non illum, ducimus ad vero repellendus accusamus iure quod? Praesentium vel, non vero ex optio recusandae nulla maxime dolorum!",
    image:
      "https://images.pexels.com/photos/357440/pexels-photo-357440.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
    url: "https://google.com",
  },
];

export interface Props {
  title: string;
  url: any;
  image: any;
}
---

<div id="works-wrapper" class="flex justify-center items-center">
  <div id="container" class="">
    <div
      id="section-banner"
      class="bg-parchment text-onyx rounded-bl-lg rounded-tl-lg border border-black rounded drop-shadow-lg 2xl:ml-[80px] mt-[150px] mb-[50px] 2xl:p-[35px] p-5"
    >
      <h2 class="2xl:text-5xl text-4xl font-bold">Featured Works</h2>
      <p class="pt-1 pl-1 text-2xl">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum quo
        atque fuga. Corporis doloremque sit minus, asperiores quia velit
        inventore nostrum! Dicta alias corporis numquam.
      </p>
    </div>

    <div id="grid-wrapper" class="bg-test 2xl:pl-5 2xl:ml-5">
      <div
        id="flex"
        class="flex md:flex-row flex-col 2xl:pl-[50px] pl-1 gap-5 m-5"
      >
        {
          items.map((item) => (
            <div id="flex" class="bg-test">
              <Card
                title={item.title}
                image={item.image}
                paragraph={item.paragraph}
                url={item.url}
              />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>
