---
import CenterPageBanner from "../shared/CenterPageBanner.astro";
import HomePageGrid from "../shared/grids/HomePageGrid.astro";
---

<section id="writing" class="border border-black pt-5 mt-[150px]">
  <CenterPageBanner
    BannerTitle="Writing- (What LC offers)"
    paragraph="Grammar skills by a real human!"
  />
  <HomePageGrid />
</section>
