---
import DynamicBanner from "../shared/Dynamic_Banner.astro";
import GalleryGrid from "../shared/grids/GalleryGrid.astro";
---

<section id="writing" class="bg- border border- mt-5 py-[110px]">
  <DynamicBanner
    headline="Branding Storytelling "
    paragraph1="storytelling through fiction and business  '"
    paragraph2="storytelling through fiction and business  '"
    paragraph3="storytelling through fiction and business  '"
  />
  <!-- storytelling through fiction and business -->
  <GalleryGrid />
  <!-- read more.... -->
</section>
