---
import GalleryBanner from "../GalleryBanner.astro";
---

<section id="writing" class="h-screen border border-black pt-5 mt-[150px]">
  <GalleryBanner
    title="Writing- (What LC offers)"
    paragraph="Grammar skills by a real human!"
  />
</section>
