---
import CenterPageBanner from "../shared/CenterPageBanner.astro";
import GalleryGrid from "../shared/grids/GalleryGrid.astro";
---

<section id="writing" class="mt-[150px] pt-[100px] pb-5">
  <CenterPageBanner
    BannerTitle="Writing- (What LC offers)"
    paragraph="Grammar skills by a real human!"
  />
  <GalleryGrid />
  read more....
</section>
