---
import CenterPageBanner from "../shared/CenterPageBanner.astro";
import HomePageGrid from "../shared/grids/HomePageGrid.astro";
---

<section id="writing" class="border border-black mt-[150px] pt-[100px] pb-5">
  <CenterPageBanner
    BannerTitle="Writing- (What LC offers)"
    paragraph="Grammar skills by a real human!"
  />
  <HomePageGrid />
</section>
