---
import SectionGrid from "../shared/grids/SectionGrid.astro";
import ButtonProps from "../shared/ButtonProps.astro";
---

<div class="flex justify-center border border-black mt-5">
  <div id="are-you-ready" class="max-w-[1200px]">
    <SectionGrid
      title=" Are you ready???????"
      listitem1="website creation- IMMEDIATE GOAL: HOW WILL LC MAKE CLIENTS LIFE BETTER?)"
      listitem2="the ablity to tell your story and brand"
      listitem3=" Increased potential customers, easier to find on Google."
      listitem4="A custom website that fits your business, personality, goals... and you alone."
      heroImg="https://dl.dropboxusercontent.com/scl/fi/xzf hk2jletg2hqwc9ecks/coyote.png?rlkey=xtfjf7plvgb8y3fjxdij0vdt5&st=xf6njv83&dl=0 "
      btn1="contact"
      btn2="'explore blog for resources'"
      btnLink1="/contact"
      btnLink2="/#writing"
    />

    <!-- <ButtonProps btn1="see demo" btn1Link="/#services" /> -->
  </div>
</div>
