---
const items = [
  {
    title: "DISCOVERY PHASE",
  },
  {
    title: "CREATIVE PHASE",
  },
  {
    title: "DEVELOPMENT PHASE",
  },
  {
    title: "LAUNCH PHASE",
  },
];
---

<section id="how-it-works" class="md:p-5 p-1 my-[50px]">
  <div id="title-banner" class="flex justify-center p-3">
    <h2 class="text-2xl pb-5 font-bold italic md:mx-5 md:px-5">
      Gives client a plan
    </h2>
  </div>
  <!--  -->
  <div id="how-it-works-wrapper" class="2xl:p-5 mb-5 md:mx-5">
    <div id="how-it-works-container" class="2xl:p-5 mb-5 2xl:mx-5">
      <div
        id="grid"
        class="grid 2xl:grid-cols-4 md:grid-cols-2 grid-cols-1 2xl gap-5 md:px-5"
      >
        {
          items.map((item) => (
            <div id="sq" class="p-5 sq-styles bg-teal text-parchment m-1">
              <h2 class="font-bold">{item.title}</h2>
              <p class="pt-1">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Accusamus, ab rem, mollitia cupiditate eum in veritatis ad esse
                consectetur, nobis sunt? Ex ratione molestiae provident deleniti
                minus non placeat repellat!
              </p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
