---
import BusinessCard from "../BusinessCard.astro";
---

<div id="problem-solving section">
  <BusinessCard
    title="PROBLEM-SOLVING SECTION- who LC helps"
    listitem1="address key problem your client is experiencing'  Ive spent time learning how to simplify the design process so you can focus on your business instead"
    listitem2="the ablity to tell your story and brand"
    listitem3=" Increased potential customers, easier to find on Google."
    listitem4="A custom website that fits your business, personality, goals... and you alone."
    heroImg="https://dl.dropboxusercontent.com/scl/fi/pstfnqc17njjpmksizru2/portfolio-pic.jpg?rlkey=dkgcbk61xa6fvkdtrnu8sp4cr&st=r9r78elx&dl=0"
  />
</div>
