---
import CenterPageBanner from "../shared/CenterPageBanner.astro";
import MasonryGrid from "../shared/grids/MasonryGrid";
---

<div id="wrapper" class="mt-[250px] mb-5 pt-5">
  <CenterPageBanner
    BannerTitle="Web Development-(What LC offers)"
    paragraph="PROBLEM SOLVING SECTION-'address key problem your client is experiencing'  Ive spent time learning how to simplify the design process so you can focus on your business instead"
  />
  - <!-- *3 [social proof]-- portfolio CASE STUDIES GRID cta v-->
  <MasonryGrid />
</div>
