---
import testImg from "../../images/gallery1.jpg";
import { Image } from "astro:assets";
---

<section id="testimonial" class="my-5 py-5">
  <div id="testimonial-container" class="mt-5 pt-5 flex justify-center">
    <div id="grid" class="grid grid-cols-2">
      <div id="sq1" class="flex justify-center">
        <Image
          src={testImg}
          alt=""
          class="w-1/2 border border-black rounded-md"
        />
      </div>
      <div
        id="sq2"
        class="flex justify-center items-center text-onyx font-light pr-5"
      >
        "BUILDS TRUST- client side, site-Lorem ipsum, dolor sit amet consectetur
        adipisicing elit. Soluta sit laboriosam deleniti, consectetur obcaecati
        id. Provident illo veniam pariatur beatae nulla minima sed?"
      </div>
    </div>
  </div>
</section>
