---
import TestAbout from "./TestAbout.astro";
import TestCTA from "./TestCTA.astro";
import TestContact from "./TestContact.astro";
---

<div class="bg-test1 flex justify-center">
  <div id="flex" class="">
    <TestAbout />
    <TestCTA />
    <TestContact />
  </div>
</div>
