---
import CenterPageBanner from "../shared/CenterPageBanner.astro";
---

<!-- TODO CURRENTLY: CREATE WORKS CTA- all sites-v-->
<div class="bg- mt-[150px] mx-[180px] pt-5">
  <CenterPageBanner
    BannerTitle="Portfolio"
    paragraph="I build custom applications for small businesses."
  />
  <div id="wrapper" class="m-5 p-5 flex justify-center">
    <div id="container" class="p-5 m-5">
      <div id="grid" class="bg- grid grid-cols-2 gap-5">
        <div id="rq-sq1" class="flex justify-center items-center pt-5 mt-5">
          lc content Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Saepe quia officiis veritatis. Eveniet officiis consectetur adipisci
          ipsam suscipit quidem cupiditate dolor, alias odio itaque harum
          quaerat expedita obcaecati. Ab, explicabo.
        </div>
        <div id="rq-sq2" class="">
          <img
            src="https://dl.dropboxusercontent.com/scl/fi/g23z3n6u9joennznyqxc4/lc-9-20-24.png?rlkey=q75joo6od6ixkfoxr9q57kfkb&st=cfnmoz5g&dl=0"
            class="sq-styles"
          />
        </div>

        <div id="roof-sq3" class="bg-">
          <img
            src="https://dl.dropboxusercontent.com/scl/fi/7a3l8ubz95eom7np54z39/2-23-25.png?rlkey=l0v1smbmzd7vqdpyt7mh708xh&st=qfq5tc9z&dl=0"
            class="sq-styles"
          />
        </div>
        <div id="roof-sq4" class="flex justify-center items-center pt-5 mt-5">
          roof content Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Provident, doloremque repellat. Id neque earum tenetur praesentium,
          rem temporibus enim adipisci facilis dolorem. Exercitationem quibusdam
          voluptates quasi praesentium voluptate, at molestiae!
        </div>

        <div id="eh-sq5" class="flex justify-center items-center pt-5 mt-5">
          eh content Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Fugit itaque necessitatibus vitae odio repellat aspernatur perferendis
          blanditiis, exercitationem commodi iste veniam omnis consequatur
          accusamus sapiente ut beatae recusandae tenetur assumenda?
        </div>
        <div id="eh-q6" class="bg-">
          <img
            src="https://dl.dropboxusercontent.com/scl/fi/7a3l8ubz95eom7np54z39/2-23-25.png?rlkey=l0v1smbmzd7vqdpyt7mh708xh&st=qfq5tc9z&dl=0"
            class="sq-styles"
          />
        </div>

        <div id="wtbh-sq7" class="bg-">
          <img
            src="https://dl.dropboxusercontent.com/scl/fi/7a3l8ubz95eom7np54z39/2-23-25.png?rlkey=l0v1smbmzd7vqdpyt7mh708xh&st=qfq5tc9z&dl=0"
            class="sq-styles"
          />
        </div>
        <div id="wtbh-sq8" class="flex justify-center items-center pt-5 mt-5">
          rq- content Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Error, at voluptas facere totam laborum nisi harum pariatur quod
          libero accusamus illo itaque recusandae aut, fuga in dolorem est
          doloremque sed?
        </div>
      </div>
    </div>
  </div>
</div>
