---

---

<!-- TODO CURRENTLY: CREATE WORKS CTA- all sites-v-->
<div id="wrapper" class="flex justify-center">
  <div id="container" class="bg-">
    <div id="grid" class="bg- grid grid-cols-2 gap-5">
      <!-- <li>LC TEMPLATES-</li> -->
      <div id="lc-sq1" class="bg-test1">
        lc content Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Saepe quia officiis veritatis. Eveniet officiis consectetur adipisci
        ipsam suscipit quidem cupiditate dolor, alias odio itaque harum quaerat
        expedita obcaecati. Ab, explicabo.
      </div>
      <div id="lc-sq2" class="bg-test1">
        <img
          src="https://dl.dropboxusercontent.com/scl/fi/g23z3n6u9joennznyqxc4/lc-9-20-24.png?rlkey=q75joo6od6ixkfoxr9q57kfkb&st=cfnmoz5g&dl=0"
        />
      </div>

      <!-- <li>HoveyRoofing</li> -->
      <div id="roof-sq3" class="bg-test2">
        <img
          src="https://dl.dropboxusercontent.com/scl/fi/7a3l8ubz95eom7np54z39/2-23-25.png?rlkey=l0v1smbmzd7vqdpyt7mh708xh&st=qfq5tc9z&dl=0"
        />
      </div>
      <div id="roof-sq4" class="bg-test2">
        roof content Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Provident, doloremque repellat. Id neque earum tenetur praesentium, rem
        temporibus enim adipisci facilis dolorem. Exercitationem quibusdam
        voluptates quasi praesentium voluptate, at molestiae!
      </div>

      <!-- <li>EH portfolio</li> -->
      <div id="eh-sq5" class="bg-orange">
        eh content Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Fugit itaque necessitatibus vitae odio repellat aspernatur perferendis
        blanditiis, exercitationem commodi iste veniam omnis consequatur
        accusamus sapiente ut beatae recusandae tenetur assumenda?
      </div>
      <div id="eh-q6" class="bg-orange">
        <img
          src="https://dl.dropboxusercontent.com/scl/fi/7a3l8ubz95eom7np54z39/2-23-25.png?rlkey=l0v1smbmzd7vqdpyt7mh708xh&st=qfq5tc9z&dl=0"
        />
      </div>

      <!-- <li>RQ</li> -->
      <div id="rq-sq7" class="bg-teal">
        <img
          src="https://dl.dropboxusercontent.com/scl/fi/7a3l8ubz95eom7np54z39/2-23-25.png?rlkey=l0v1smbmzd7vqdpyt7mh708xh&st=qfq5tc9z&dl=0"
        />
      </div>
      <div id="rq-sq8" class="bg-teal">
        rq- content Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Error, at voluptas facere totam laborum nisi harum pariatur quod libero
        accusamus illo itaque recusandae aut, fuga in dolorem est doloremque
        sed?
      </div>
    </div>
  </div>
</div>
