---
const links = [
  { label: "Services", href: "/#services" },
  // SUB LINKS: 1) 2)ABOUT

  { label: "Web Development", href: "/#web-development" },
  // SUB LINKS: 1) 2)FEATURED SITES
  { label: "Writing", href: "/#writing" },
  // SUB LINKS: 1)WRITING SERVICES 2)BLOG
  { label: "Contact", href: "/#contact" },
];
---

<!-- todo: BOTTOM BORDER STYLE, ADD SHADOW BLUR (or teal background transition) WHEN SCROLLING -->
<header
  class="dropshadow-2xl text-carribean border-b border-onyx z-50 2xl:pb-5 pb-[30px] 2xl:pt-2 pt-4"
>
  <div
    class="bg- md:pl-5 pl-0 md:pr-5 pr-1 pt-1 grid 2xl:grid-cols-2 grid-cols-1 text-2xl"
  >
    <div
      id="logo"
      class="font-bold 2xl:text-3xl md:text-5xl text-3xl flex md:justify-start items-center py-3 2xl:pl-1 pl-4"
    >
      <a href="/">Laughing Coyote Dev</a>
    </div>
    <nav id="" class="">
      <ul
        class="font-medium flex md:flex-row flex-col 2xl:justify-end justify-start 2xl:items-end items-start"
      >
        {
          links.map((link) => (
            <li class=" 2xl:pt-5 md:pt-1 pt-0 opacity-90 hover:opacity-100 drop-shadow-2xl">
              <a class="mx-5" href={link.href}>
                {link.label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
