---
import ButtonProps from "../shared/ButtonProps.astro";

export interface Props {
  title: string;
  item1: string;
  item2: string;
  item3: string;
}

const { title, item1, item2, item3 } = Astro.props as Props;
---

<div class="bg- flex justify-end">
  <div class="flex justify-end">
    <h2 class="font-bold">{title}</h2>
    <ul class="bg- space-y-5 2xl:w-1/2 md:w-2/3 w-full">
      <li>-{item1}</li>
      <li>-{item2}</li>
      <li>-{item3}</li>
      <ButtonProps btn1="see work" btn1Link="/work" />
    </ul>
  </div>
</div>
