---
import ButtonProps from "../components/shared/ButtonProps.astro";
import CenterPageBanner from "../components/shared/CenterPageBanner.astro";
import TestTernary from "../components/tests/TestTernary";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div id="wrapper" class="test1">
    <div id="container" class="">
      <div id="grid" class="grid grid-cols-2 gap-5 test2">
        <div id="sq1" class="orange flex justify-end">
          <div
            id="sq1-container"
            class="w-1/2 flex justify-center items-center test2"
          >
            <!-- * CONDITIONAL FOR ABOUT TITLE HERE --v -->
            <TestTernary isLoggedIn={true} username="about" />
            <!-- * -----------------------------------^ -->
          </div>
        </div>
        <div id="sq2" class="lavender row-span-2">
          <img
            src="https://images.pexels.com/photos/3792581/pexels-photo-3792581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt=""
            class="sq-styles"
          />
        </div>
        <div id="sq3" class="teal flex justify-end">
          <ul class="test2 w-1/2">
            <li>
              -address key problem your client is experiencing' Ive spent time
              learning how to simplify the design process so you can focus on
              your business instead
            </li>
            <li>-the ablity to tell your story and brand</li>
            <li>Increased potential customers, easier to find on Google.</li>
            <!-- * BTN WRAPPER   v-->
            <ButtonProps btn1="see case studies" btn1Link="/#social-proof" />
            <!-- * BTN WRAPPER   ^-->
          </ul>
        </div>
        <!-- <div id="sq4" class="test2">img</div> -->
      </div>
    </div>
  </div>

  <!-- TODO: CTA TO WORK PORTFOLIO PG -->
</MainLayout>
