---
import DefineItemsGrid from "../components/DefineItemsGrid.astro";
import AddressKeyProblem from "../components/sections/AddressKeyProblem.astro";
import CenterPageBanner from "../components/shared/CenterPageBanner.astro";
import Testimonial from "../components/Testimonial.astro";
import WebDevGrid from "../components/WebDevGrid.astro";
import MainLayout from "../layouts/MainLayout.astro";
import FourSQGrid from "../components/FourSQGrid.astro";
import MainGoals from "../components/MainGoals.astro";
import TestWebsiteBanner from "../components/TestWebsiteBanner.astro";
---

<MainLayout>
  <CenterPageBanner
    BannerTitle="About"
    paragraph="(Why LC exists)- Web design services focused on landing pages, and content creation for small business brand!"
  />
  <!-- TODO USE DEFINE ITEMS GRID, MAKE DYNAMIC v -->
  <div id="" class="bg-">
    <MainGoals />

    <!-- <MainGoals /> -->
  </div>

  <!-- TODO USE DEFINE ITEMS GRID, MAKE DYNAMIC ^ -->

  <!-- <WebDevGrid /> -->
  <TestWebsiteBanner
    title="websites built with..."
    item1="astro framework "
    item2="sanity.io "
    item3="tailwind css"
    item4="react javascript"
  />
  <AddressKeyProblem />
  <Testimonial />
  <!-- <FourSQGrid /> -->
  <!-- TRANSITION CSS HERE -->
  <div class="md:absolute relative"></div>
  <div id="skewed-transition" class="skewed-wrapper pt-5">
    <div class="skewed-bg"></div>
    <div class="content"></div>
  </div>
  <div id="color-switch" class="bg-teal text-parchment pt-[120px]">
    <Testimonial />
  </div>
  <!-- TRANSITION CSS HERE -->
</MainLayout>
