---
import ButtonProps from "../components/shared/ButtonProps.astro";
import DynamicAboutCTA from "../components/tests/DynamicAboutCTA";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <!-- TODO CURRENTLY: <DynamicAboutCTA /> v-->
  <div id="wrapper" class="h-screen">
    <div id="container" class="">
      <div id="grid" class="grid grid-cols-2 gap-5 test2">
        <div id="sq1" class="test1 flex justify-end">
          <div
            id="sq1-container"
            class="w-1/2 flex justify-center items-end test2"
          >
            <DynamicAboutCTA isLoggedIn={true} username="About" />
          </div>
        </div>
        <div id="sq2" class="lavender row-span-2">
          <img
            src="https://images.pexels.com/photos/3792581/pexels-photo-3792581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt=""
            class="sq-styles"
          />
        </div>
        <div id="sq3" class="teal flex justify-end">
          <ul class="test2 w-1/2">
            <li>
              -address key problem your client is experiencing' Ive spent time
              learning how to simplify the design process so you can focus on
              your business instead
            </li>
            <li>-the ablity to tell your story and brand</li>
            <li>Increased potential customers, easier to find on Google.</li>
            <!-- * BTN WRAPPER   v-->
            <ButtonProps btn1="see about" btn1Link="/about" />
            <!-- * BTN WRAPPER   ^-->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- TODO CURRENTLY: <DynamicAboutCTA /> ^-->
</MainLayout>
