---
import MainLayout from "../layouts/MainLayout.astro";
import Dynamic_FooterBanner from "../components/shared/Dynamic_FooterBanner.astro";
import Test_CenterPageBanner from "../components/Test_CenterPageBanner.astro";

const items = [
  {
    title: "Hi there, I'm Elsa",
    p: "Portfolio-cta Lorem ipsum dolor sit amet consectetur, adipisicing elit.  Doloribus a deserunt reiciendis quaerat cumque, omnis in architecto quos, maxime, assumenda eos quo repudiandae. Quo quidem veniam facilis laboriosam at quaerat.",
  },
  {
    title: "post 2",
    p: " Lorem ipsum dolor sit amet consectetur, adipisicing elit.  Doloribus a deserunt reiciendis quaerat cumque, omnis in architecto quos, maxime, assumenda eos quo repudiandae. Quo quidem veniam facilis laboriosam at quaerat.",
  },
  {
    title: "post 3",
    p: " Lorem ipsum dolor sit amet consectetur, adipisicing elit.  Doloribus a deserunt reiciendis quaerat cumque, omnis in architecto quos, maxime, assumenda eos quo repudiandae. Quo quidem veniam facilis laboriosam at quaerat.",
  },
  {
    title: "post 1",
    p: " Lorem ipsum dolor sit amet consectetur, adipisicing elit.  Doloribus a deserunt reiciendis quaerat cumque, omnis in architecto quos, maxime, assumenda eos quo repudiandae. Quo quidem veniam facilis laboriosam at quaerat.",
  },
  {
    title: "Feel free to browse newsletter for updates. ",
    p: " Lorem ipsum dolor sit amet consectetur, adipisicing elit.  Doloribus a deserunt reiciendis quaerat cumque, omnis in architecto quos, maxime, assumenda eos quo repudiandae. Quo quidem veniam facilis laboriosam at quaerat.",
  },
  {
    title: "Contact",
    p: " you can contact at elsahvy@gmail.com",
  },
];
---

<MainLayout>
  <section id="about" class="py-[45px] my-[155px]">
    <div id="color-banner" class="bg-teal border border-black">
      <Test_CenterPageBanner
        title="About"
        paragraph="this is the about page-lorem orem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, ex velit officiis amet voluptatibus eos quibusdam temporibus suscipit blanditiis dolores neque. Autem quia rem facilis, sint quo voluptates repellat illo"
      />
    </div>
    <div id="grid-wrapper" class="flex justify-center">
      <div id="grid" class="grid grid-cols-3 gap-5 pt-[50px] px-[150px]">
        {
          items.map((item) => (
            <div id="sq" class="px-2 py-3 bg-test bg-">
               <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--> 
              <h2 class="capitalize font-bold">{item.title}</h2> <!--//*: TITLE CONTENT SHOULD BE THE ABOUT  -->
              <p>{item.p}</p><!--//*: PARAGRAPH CONTENT SHOULD BE THE WHY -->
              <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*--> 
            </div>
          ))
        }
      </div>
    </div>
  </section>
  <Dynamic_FooterBanner
    title="Contact Writing- 'see about pg and other projects!"
    paragraph=" Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, ex velit officiis amet voluptatibus eos quibusdam temporibus suscipit blanditiis dolores neque. Autem quia rem facilis, sint quo voluptates repellat illo."
  />
</MainLayout>
