---
import MainLayout from "../layouts/MainLayout.astro";
import BlogPostsComp from "../components/BlogPostsComp.astro";
import CenterPageBanner from "../components/shared/CenterPageBanner.astro";
---

<MainLayout>
  <section id="articles" class="py-[45px] my-[155px]">
    <CenterPageBanner
      title="Articles"
      paragraph="This is for the featured works page. dsfusoidfj nifsdjhf lksdjflksdjf lkasaslkjkkjf kjfksjfksdfl s kfs k fleklsd "
    />
    <BlogPostsComp />
  </section>
</MainLayout>
