---
import MainLayout from "../layouts/MainLayout.astro";
import Dynamic_FooterBanner from "../components/shared/Dynamic_FooterBanner.astro";
import Test_CenterPageBanner from "../components/Test_CenterPageBanner.astro";

const items = [
  {
    title: "post 1",
    p: " Lorem ipsum dolor sit amet consectetur, adipisicing elit.  Doloribus a deserunt reiciendis quaerat cumque, omnis in architecto quos, maxime, assumenda eos quo repudiandae. Quo quidem veniam facilis laboriosam at quaerat.",
  },
  {
    title: "post 2",
    p: " Lorem ipsum dolor sit amet consectetur, adipisicing elit.  Doloribus a deserunt reiciendis quaerat cumque, omnis in architecto quos, maxime, assumenda eos quo repudiandae. Quo quidem veniam facilis laboriosam at quaerat.",
  },
  {
    title: "post 3",
    p: " Lorem ipsum dolor sit amet consectetur, adipisicing elit.  Doloribus a deserunt reiciendis quaerat cumque, omnis in architecto quos, maxime, assumenda eos quo repudiandae. Quo quidem veniam facilis laboriosam at quaerat.",
  },
  {
    title: "post 1",
    p: " Lorem ipsum dolor sit amet consectetur, adipisicing elit.  Doloribus a deserunt reiciendis quaerat cumque, omnis in architecto quos, maxime, assumenda eos quo repudiandae. Quo quidem veniam facilis laboriosam at quaerat.",
  },
  {
    title: "post 2",
    p: " Lorem ipsum dolor sit amet consectetur, adipisicing elit.  Doloribus a deserunt reiciendis quaerat cumque, omnis in architecto quos, maxime, assumenda eos quo repudiandae. Quo quidem veniam facilis laboriosam at quaerat.",
  },
  {
    title: "post 13",
    p: " Lorem ipsum dolor sit amet consectetur, adipisicing elit.  Doloribus a deserunt reiciendis quaerat cumque, omnis in architecto quos, maxime, assumenda eos quo repudiandae. Quo quidem veniam facilis laboriosam at quaerat.",
  },
];
---

<MainLayout>
  <section id="articles" class="py-[45px] my-[155px]">
    <!-- <div id="color-banner" class="bg-teal border border-black"> -->
    <Test_CenterPageBanner
      title="Articles"
      paragraph=" the articles page-lorem orem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, ex velit officiis amet voluptatibus eos quibusdam temporibus suscipit blanditiis dolores neque. Autem quia rem facilis, sint quo voluptates repellat illo"
    />
    <!-- </div> -->
    <div id="grid-wrapper" class="flex justify-center">
      <div id="grid" class="grid grid-cols-3 gap-4 pt-[50px] px-[150px]">
        {
          items.map((item) => (
            <div
              id="sq"
              class="p-4 bg-teal rounded-md border border-black hover:text-parchment cursor-pointer"
            >
              <h2 class="capitalize font-bold hover:underline cursor-pointer">
                {item.title}
              </h2>
              <p>{item.p}</p>
            </div>
          ))
        }
      </div>
    </div>
  </section>
  <Dynamic_FooterBanner
    title="Contact Writing- 'see about pg and other projects!"
    paragraph=" Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, ex velit officiis amet voluptatibus eos quibusdam temporibus suscipit blanditiis dolores neque. Autem quia rem facilis, sint quo voluptates repellat illo."
  />

  <!-- <div class="bg-test2 px-[55px]"><ContactSection /></div> -->
</MainLayout>
