---
import CenterPageBanner from "../components/shared/CenterPageBanner.astro";
import GalleryBanner from "../components/shared/GalleryBanner.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <!-- <GalleryBanner title="Contact" paragraph="- (where to find me!)" /> -->
  <div id="wrapper" class="p-5 m-5 h-screen">
    <div id="container" class="p-5 m-[55px]">
      <div id="grid" class="grid grid-cols-2 gap-10">
        <div id="sq1" class="mb-5 p-5 sq-styles">
          <!-- <h1 id="contact-page-title" class="text-3xl">Contact</h1> -->
          <CenterPageBanner
            BannerTitle="Contact"
            paragraph="pkgs-fdsfjsk fjlsljfksldjflk s slkfjslkf sdlkfjdskfjkjeksfjslk flkjsjk "
          />
          <p class="text-lg">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
            laboriosam qui commodi veritatis vitae accusantium, odio, similique
            culpa excepturi nemo molestiae totam veniam eligendi atque, expedita
            numquam libero sequi voluptatum?contact headline
          </p>
        </div>
        <div id="sq2" class="bg- w-full flex justify-start items-center">
          <div id="contact-form-container" class="mr-5 bg-">
            <form action="" class="flex flex-col space-y-2">
              <input
                type="text"
                placeholder="test1"
                class="pl-2 w-[600px] h-10 rounded border border-black"
              />
              <input
                type="text"
                placeholder="test2"
                class="pl-2 w-[600px] h-10 rounded border border-black"
              />
              <input
                type="text"
                placeholder="test3"
                class="pl-2 w-[600px] h-10 rounded border border-black"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
