---
import GalleryBanner from "../components/shared/GalleryBanner.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <GalleryBanner title="Contact" paragraph="- (where to find me!)" />
  <div id="wrapper" class="m-5 p-5">
    <div id="container" class="m-5 p-5 bg-test1">
      <div id="grid" class="grid grid-cols-2">
        <div class="sq1">
          <h1>contact headline</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis
            laboriosam qui commodi veritatis vitae accusantium, odio, similique
            culpa excepturi nemo molestiae totam veniam eligendi atque, expedita
            numquam libero sequi voluptatum?contact headline
          </p>
        </div>
        <div class="sq1">
          <div id="contact-form-wrapper" class="bg-test2 flex justify-center">
            <div id="contact-form-container" class="mr-5 bg-">
              <form action="" class="flex flex-col space-y-2">
                <input type="text" class="sq-styles w-[400px]" />
                <input type="text" class="sq-styles w-[400px]" />
                <input type="text" class="sq-styles w-[400px]" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
