---
import MainLayout from "../layouts/MainLayout.astro";
import Dynamic_Banner from "../components/shared/Dynamic_Banner.astro";
import CustomerSites from "../components/CustomerSites.astro";
import GalleryBanner from "../components/GalleryBanner.astro";
import CenterPageBanner from "../components/shared/CenterPageBanner.astro";
import Hero from "../components/Hero.astro";

const items = [
  {
    id: 1,
    image:
      "https://images.pexels.com/photos/196644/pexels-photo-196644.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
    title: "design 1",
  },
  {
    id: 2,
    image:
      "https://images.pexels.com/photos/326514/pexels-photo-326514.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
    title: "design 2",
  },
  {
    id: 3,
    image:
      "https://images.pexels.com/photos/326503/pexels-photo-326503.jpeg?auto=compress&cs=tinysrgb&w=600",
    title: "design 3",
  },
  {
    id: 4,
    image:
      "https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg?auto=compress&cs=tinysrgb&w=600",
    title: "design 4",
  },
  {
    id: 5,
    image:
      "https://images.pexels.com/photos/196646/pexels-photo-196646.jpeg?auto=compress&cs=tinysrgb&w=600",
    // title: "simplify the website process: about, CTA, contact",
    title: "design 5",
  },
  {
    id: 6,
    image:
      "https://images.pexels.com/photos/326518/pexels-photo-326518.jpeg?auto=compress&cs=tinysrgb&w=600",
    title: "design 6",
  },
  {
    id: 7,
    image:
      "https://images.pexels.com/photos/38544/imac-apple-mockup-app-38544.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
    // title:
    //   " 1.'simple and minimalist' 2.'modern' 3. 'no BS... straight to the point'",
    title: "design 7",
  },
  {
    id: 8,
    image:
      "https://images.pexels.com/photos/1779487/pexels-photo-1779487.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
    title: "design 8",
  },
];
---

<MainLayout>
  <div id="featured-works-banner" class="bg- text-onyx py-[45px] my-[155px]">
    <CenterPageBanner
      title="Featured Works"
      paragraph="this is the featured-works page-lorem orem ipsum, dolor sit amet consectetur adipisicing elit. Maxime, ex velit officiis amet voluptatibus eos quibusdam temporibus suscipit blanditiis dolores neque. Autem quia rem facilis, sint quo voluptates repellat illo"
    />
  </div>

  <div id="featured-websites">
    <Hero
      title="HoveyRoofing"
      pic="https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    />
    <Hero
      title="Generations Backflow"
      pic="https://images.pexels.com/photos/357440/pexels-photo-357440.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    />
  </div>
  <!-- <CustomerSites /> -->
  <Dynamic_Banner
    headline="this is the web dev pg"
    paragraph1="-how to design a website"
    paragraph2="- how to pick a domain and use hosting"
    paragraph3="and etc!"
  />

  <div id="GALLERY-WEB-DESIGNS" class="">
    <div class="px-5">
      <GalleryBanner
        title="Web Designs"
        paragraph="Multiple Designs available for your imagination!"
      />

      <div
        id="gallery-grid"
        class="mb-5 md:px-[55px] px-1 grid 2xl:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-3 pt-2"
      >
        {
          items.map((item) => (
            <div class="">
              <p class="absolute p-2 text-parchment bg-teal border border-black lowercase dropshadow-2xl text-2xl">
                {item.title}
              </p>
              <img
                src={item.image}
                alt=""
                class="border border-black w-[650px] h-[350px] "
              />
            </div>
          ))
        }
      </div>
      asdfds
    </div>
  </div>
</MainLayout>
