---
import MainLayout from "../layouts/MainLayout.astro";
import CTA from "../components/sections/CTA/index.astro";
import GridTemplateAreas from "../components/GridTemplateAreas.astro";
import Works from "../components/sections/CTA/Works/index.astro";
import ContactSection from "../components/sections/ContactSection/index.astro";
import DynamicFooter from "../components/shared/DynamicFooterBanner.astro";
import DynamicGallery from "../components/shared/DynamicGallery.astro";
import { Image } from "astro:assets";
import pic1 from "./public/fish-images/assets/jellyfish.jpg";
import pic2 from "./public/fish-images/assets/school.jpg";
import pic3 from "./public/fish-images/assets/seals.jpg";
import pic4 from "./public/fish-images/assets/shark.jpg";
import pic5 from "./public/fish-images/assets/starfish.jpg";
import pic6 from "./public/fish-images/assets/turtle.jpg";
import pic7 from "./public/fish-images/assets/urchin.jpg";
import pic8 from "./public/fish-images/assets/weird-looking-fish.jpg";
import DynamicBanner from "../components/shared/DynamicBanner.astro";

const items = [
  {
    id: 1,
    image: pic1,
    topic: "site 1",
  },
  {
    id: 2,
    image: pic2,
    topic: "site 2",
  },
  {
    id: 3,
    image: pic3,
    topic: "site 3",
  },
  {
    id: 4,
    image: pic4,
    topic: "site 4",
  },
  {
    id: 5,
    image: pic5,
    // topic: "simplify the website process: about, CTA, contact",
    topic: "site 5",
  },
  {
    id: 6,
    image: pic6,
    topic: "site 6",
  },
  {
    id: 7,
    image: pic7,
    // topic:
    //   " 1.'simple and minimalist' 2.'modern' 3. 'no BS... straight to the point'",
    topic: "site 7",
  },
  {
    id: 8,
    image: pic8,
    topic: "site 8",
  },
];
---

<MainLayout>
  <section id="featured-works" class="py-[45px] my-[155px]">
    <div class="py-3 flex justify-center bg-">
      <h2 class="text-5xl px-5 py-2 font-bold underline">Featured Works</h2>
    </div>

    <div id="ABOUT" class="flex justify-center">
      <p class="max-w-[1060px] pt-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis
        nostrum totam ullam non ipsum, obcaecati explicabo nulla nesciunt
        blanditiis iste provident architecto excepturi, sint eum maxime repellat
        dolores modi?
      </p>
    </div>
  </section>
  <Works />
  <!-- <div class="bg-test2 px-[55px]">OTHER DESIGNS/ final selling pt</div> -->
  <div id="selling-pt" class="py-5 my-5">
    <DynamicBanner
      headline="this is the web dev pg"
      paragraph1="-how to design a website"
      paragraph2="- how to pick a domain and use hosting"
      paragraph3="and etc!"
    />
  </div>

  <section id="SERVICES-GALLERY" class="">
    <div class="bg-">
      <h2 class="pl-[55px] text-2xl">different designs available!!</h2>
      <p class="pl-[55px] pb-1">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae
        illo exercitationem sapiente blanditiis, veniam doloremque? Placeat
        deleniti necessitatibus tempora accusamus doloremque exercitationem vel
        eum voluptate, officia voluptatem similique consequuntur soluta.
      </p>

      <div
        id="gallery-grid"
        class="md:px-[55px] px-1 grid 2xl:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-1"
      >
        {
          items.map((item) => (
            <div class="">
              <p class="absolute p-2 text-parchment bg-teal border border-black lowercase dropshadow-2xl text-2xl">
                {item.topic}
              </p>
              <Image
                src={item.image}
                alt=""
                class="border border-black w-[650px] h-[350px] "
              />
            </div>
          ))
        }
      </div>
    </div>
  </section>
  <DynamicFooter
    title="Contact Web Dev"
    paragraph="  still not ready for contact? Here are some free resource articles"
  />
  <ContactSection />
</MainLayout>
