---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";
import Dynamic_Banner from "../components/shared/Dynamic_Banner.astro";
import CTAs from "../components/CTAs.astro";
import GalleryBanner from "../components/GalleryBanner.astro";
// import BlogPostsComp from "../components/BlogPostsComp.astro";
// import CenterPageBanner from "../components/shared/CenterPageBanner.astro";

const items = [
  {
    id: 1,
    image:
      "https://images.pexels.com/photos/196644/pexels-photo-196644.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
    title: "WEB DESIGN",
  },
  {
    id: 2,
    image:
      "https://images.pexels.com/photos/4164418/pexels-photo-4164418.jpeg?auto=compress&cs=tinysrgb&w=600",
    title: "WEB DEV",
  },
  {
    id: 3,
    image:
      "https://images.pexels.com/photos/270637/pexels-photo-270637.jpeg?auto=compress&cs=tinysrgb&w=600",
    title: "STRATEGIC SEO",
  },
  {
    id: 4,
    image:
      "https://images.pexels.com/photos/4158/apple-iphone-smartphone-desk.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
    title: "MOBILE FRIENDLY",
  },
  {
    id: 5,
    image:
      "https://images.pexels.com/photos/6956129/pexels-photo-6956129.jpeg?auto=compress&cs=tinysrgb&w=600",
    title: "simplify: about, CTA, contact",
  },
  {
    id: 6,
    image:
      "https://images.pexels.com/photos/606541/pexels-photo-606541.jpeg?auto=compress&cs=tinysrgb&w=600",
    title: "SELL BY STORY",
  },
  {
    id: 7,
    image:
      "https://images.pexels.com/photos/305821/pexels-photo-305821.jpeg?auto=compress&cs=tinysrgb&w=600",
    // title:
    //   " 1.'simple and minimalist' 2.'modern' 3. 'no BS... straight to the point'",
    title: "simple and minimalist",
  },
  {
    id: 8,
    image:
      "https://images.pexels.com/photos/3796810/pexels-photo-3796810.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
    title: "INCREASED CUSTOMER ENGAGEMENT",
  },
];
---

<MainLayout>
  - <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
  <!--*--*--*--*--*-MAKE HERO DYNAMIC! v-*--*--*--*--*--*--*--*--*--*-->
  <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
  <Hero
    title="A subscription website service for busy small-businesses owners. "
    pic="https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
  />

  - <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
  <!--*--*--*--*--*-MAKE HERO DYNAMIC! ^-*--*--*--*--*--*--*--*--*--*-->
  <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->

  <div id="" class="flex justify-center px-5">
    <div id="container" class="">
      <div id="selling-pt" class="py-5 my-5">
        <Dynamic_Banner
          headline="Services Offered"
          paragraph1="-how to design a website"
          paragraph2="- how to pick a domain and use hosting"
          paragraph3="- and etc!"
        />
      </div>
      <div id="GALLERY-SERVICES" class="">
        <div class='p-5"'>
          <GalleryBanner
            title="Services Offered"
            paragraph="Listed below are a bunch of services provided."
          />
          <div
            class="md:px-[55px] px-1 grid 2xl:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-1"
            id="gallery-grid"
          >
            {
              items.map((item) => (
                <div class="hover:opacity-80">
                  <p class="absolute p-2 text-parchment bg-teal border border-black lowercase dropshadow-2xl text-2xl">
                    {item.title}
                  </p>
                  <img
                    src={item.image}
                    alt=""
                    class="border border-black w-[650px] h-[350px] "
                  />
                </div>
              ))
            }
          </div>
        </div>
      </div>
      <CTAs />

      <!-- <Dynamic_Banner
        headline="Most Recent Posts"
        paragraph1="-how to design a website"
        paragraph2="- how to pick a domain and use hosting"
        paragraph3="- and etc!"
      />
      <CenterPageBanner
        title="Most Recent Articles"
        paragraph="This is for the most recents posts for the home page."
      />
      <BlogPostsComp /> -->
    </div>
  </div>
</MainLayout>
