---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/sections/Hero.astro";
import WebsitesBanner from "../components/sections/WebsitesBanner.astro";
import HowItWorks from "../components/HowItWorks.astro";
import BuildAuthority from "../components/sections/BuildAuthority";
import CTA1 from "../components/sections/CTA1.astro";
import CTA2 from "../components/sections/CTA2.astro";
import Portfolio from "../components/sections/Portfolio.astro";
import ProblemSolving from "../components/sections/ProblemSolving.astro";
import BuildAuthority2 from "../components/sections/BuildAuthority2.astro";
import WebDevGrid from "../components/WebDevGrid.astro";
import Contact from "../components/sections/Contact.astro";
import Testimonial from "../components/Testimonial.astro";
import CenterPageBanner from "../components/shared/CenterPageBanner.astro";
import Packages from "../components/Packages.astro";
import Card from "../components/Card.astro";
const allSites = await Astro.glob("./websites/*.md");
---

<MainLayout>
  <Hero />
  <BuildAuthority />
  <WebsitesBanner />
  <WebDevGrid />
  <CTA2
    title="This is the web-development page call-to-action."
    paragraph1="sum dolor, sit amet consectetur adipisicing elit. Nostrum consectetur maiores provident, dicta magnam quia? Sequi similique est error rerum nulla eum commodi reprehenderit ipsum veritatis quisquam minima vitae libero!"
    link="/web-developmen"
    paragraph2="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum consectetur maiores provident, dicta magnam quia? Sequi similique est error rerum nulla eum commodi reprehenderit ipsum veritatis quisquam minima vitae libero!"
    link="/web-development"
  />
  <div class="md:absolute relative">
    <WebDevGrid />
  </div>
  <div id="skewed-transition" class="skewed-wrapper">
    <div class="skewed-bg"></div>
    <div class="content"></div>
  </div>
  <div id="teal-background" class="bg-teal text-parchment">
    <CTA1
      title="About"
      paragraph1="This is the about page call-to-action."
      paragraph2="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum consectetur maiores provident, dicta magnam quia? Sequi similique est error rerum nulla eum commodi reprehenderit ipsum veritatis quisquam minima vitae libero!"
      link="/about"
    />
    <WebDevGrid />
  </div>
</MainLayout>
