---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/sections/Hero.astro";
import BuildAuthority from "../components/sections/BuildAuthority";
import SocialProof from "../components/sections/SocialProof.astro";
import Unsure from "../components/sections/Unsure.astro";
import SubjectsBanner from "../components/SubjectsBanner.astro";
import AboutPgCTA from "../components/AboutPgCTA.astro";
import WebDevCTA from "../components/WebDevCTA.astro";
import NewContactAboutMeCTA from "../components/NewContactAboutMeCTA.astro";
import AddressKeyProblem from "../components/sections/AddressKeyProblem.astro";
---

<MainLayout>
  <Hero />
  <BuildAuthority />
  <SubjectsBanner
    title="Laughing Coyote Dev offers..."
    item1="Address Key Problem"
    item2="social-proof/ testimonial"
    item3="about-pg cta"
    item4="web-dev cta"
  />

  <div id="section1" class="h-screen bg">
    <AddressKeyProblem />
  </div>
  <div id="section2" class="h-screen">
    <SocialProof />
  </div>
  <div id="section3" class="h-screen">
    <AboutPgCTA />
  </div>
  <div id="section4" class="h-screen">
    <Unsure />
    <WebDevCTA />
  </div>
  <!-- TODO: new CONTACT cta, combine with about-me v-->
  <NewContactAboutMeCTA />
  <!-- TODO: new CONTACT cta, combine with about-me ^-->
</MainLayout>
