---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";
// import CTAs from "../components/CTAs.astro";
import CenterPageBanner from "../components/shared/CenterPageBanner.astro";
import BlogPostsComp from "../components/BlogPostsComp.astro";
import TestDynamicWebDevSection from "../components/TestDynamicWebDevSection.astro";
---

<MainLayout>
  <Hero
    title="A subscription website service for busy small-businesses owners. "
    pic="https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
  />
  <!-- <CTAs /> -->

  <!-- //?? EACH SECTION CONTAINS FIRST SECTION OF EACH PG?? -->
  <ul>
    <!-- SECTION 1 -->
    <div id="services" class="bg-">
      <div class="flex justify-center">
        <Hero
          title="Services"
          pic="https://images.pexels.com/photos/21658440/pexels-photo-21658440/free-photo-of-happy.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        />
      </div>
    </div>

    <section id="featured-works" class="">
      <h2>WEB DEV CTA</h2>
      <TestDynamicWebDevSection />
    </section>

    <!-- SECTION 3 -->
    <section id="articles" class="py-[45px] my-[155px]">
      <CenterPageBanner
        title="Articles"
        paragraph="I like to write about web development. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus voluptas consequatur, corrupti illum enim alias."
      />

      <BlogPostsComp />
      <p class="text-center">
        Visit the articles page to see <span class="underline">
          <a href="/articles"> all posts! </a>
        </span>
      </p>
    </section>

    <!-- SECTION 4 -->
    <section id="contact-cta" class="bg-orange">contact-CTA</section>
  </ul>
</MainLayout>
