---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/sections/Hero.astro";
import About from "../components/sections/About/index.astro";
// import Contact from "../components/sections/Contact.astro";
import Works from "../components/sections/Works.astro";
import Pricing from "../components/sections/Pricing.astro";
// import Test2 from "../components/sections/tests/Test2.astro";
---

<MainLayout>
  <section id="/">
    <Hero />
  </section>

  <section id="about">
    <About />
  </section>

  <section id="featured-works">
    <Works />
  </section>

  <section id="pricing">
    <Pricing />
  </section>
</MainLayout>
