---
import HowItWorks from "../components/ctas/HowItWorks.astro";
import WhatsIncluded from "../components/ctas/WhatsIncluded.astro";
import GalleryGrid from "../components/shared/grids/GalleryGrid.astro";
import WebDevGrid from "../components/shared/grids/WebDevGrid.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <!--TODO:  test for contact pg: content/ grid layout -v--->

  <div id="wrapper" class="text-2xl bg- pt-[25px] pl-[55px] justify- items-">
    <div id="container" class="bg-">
      <div id="grid" class="grid grid-cols-3">
        <div id="left-sq" class="bg- col-span-2 h-">
          <div id="form-wrapper" class="p-5">
            <h1>Contact form</h1>
            <form action="" class="mt-5 text-md flex flex-col space-y-2">
              <input
                type="text"
                placeholder="enter name"
                class="bg-parchment pl-2 h-10 w-3/4 border-black border-b-2"
              />
              <input
                type="text"
                placeholder="enter email"
                class="bg-parchment pl-2 h-10 w-3/4 border-black border-b-2"
              />
              <!-- <input
                type="text"
                placeholder="test3"
                class="pl-2 w-1/2 h-10 rounded border border-black"
              /> -->
            </form>
            <div id="buttons-container">
              <WebDevGrid />
            </div>
          </div>

          <div id="right-sq" class="h- p-5 bg- col-span-1">
            <div id="email" class="">elsahvy@gmail.com</div>
            <div class="">sm</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
