---
import MainLayout from "../layouts/MainLayout.astro";
---

<!-- EVENTUALLY CREATE WRITING MARKDOWN PGS -->
<MainLayout>
  <div id="markdown-post" class="text-lg text-parchment bg-carribean">
    <div class="">
      <div
        id="flex "
        class="bg- text-parchment mt-5 2xl:p-5 flex 2xl:flex-row flex-col dropshadow-3xl"
      >
        <div id="sq1" class="">
          <div class="mt-5 p-5 m-1 flex flex-col h-full">
            <h2 class="pt-5 py-2 mt-5 font-bold text-4xl">title</h2>
            <li class="list-none pl-1">testItem1</li>

            <div id="btn-wrapper" class="mt-3">
              <button
                class="bg-munsell rounded text-aquamarine hover:bg-aquamarine hover:text-munsell px-2"
              >
                <a class="text-sm" href="/">visit site </a>
              </button>
            </div>
          </div>
        </div>
        <div id="sq2" class="">
          <a href="/">
            <img
              src="./images/coyote.png"
              alt=""
              class="sq-styles hover:opacity-80 p-[25px]"
            />
          </a>
        </div>
      </div>

      <div id="wrapper" class="right-0 mt-5 p-5">
        <div id="container" class="bg- 2xl:pl-[570px] pl-[200PX] lg:pr-[200px]">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Consequuntur accusamus vero error aperiam voluptates esse? Nulla
            eius odit hic voluptatem quae ipsa. Doloribus quisquam rem quod.
            Necessitatibus optio cupiditate a.
          </p>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
