---
import WebsiteServices from "../components/sections/WebsiteServices.astro";
import TestCard1 from "../components/TestCard1.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<!-- //TODO: TEST WORK PG  -->
<MainLayout>
  <h1>test WORK</h1>
  <div class="featured-websites">
    <TestCard1 />
    <TestCard1 />
    <TestCard1 />
    <TestCard1 />
    w
  </div>
</MainLayout>
