---
import TestButtonProps from "../components/tests/TestButtonProps";
import TestSectionGrid from "../components/tests/TestSectionGrid.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div id="test-HERO" class="bg- px-[150px]">
    <TestSectionGrid
      title=" A subscription website service for busy small-businesses owners..."
      listitem1="website creation- IMMEDIATE GOAL: HOW WILL LC MAKE CLIENTS LIFE BETTER?)"
      listitem2="the ablity to tell your story and brand"
      listitem3=" Increased potential customers, easier to find on Google."
      listitem4="A custom website that fits your business, personality, goals... and you alone."
      sq2_img="https://dl.dropboxusercontent.com/scl/fi/xzf hk2jletg2hqwc9ecks/coyote.png?rlkey=xtfjf7plvgb8y3fjxdij0vdt5&st=xf6njv83&dl=0 "
      btn1="About"
      btn2="Contact"
      btnLink1="/#about"
      btnLink2="/contact"
    />
  </div>

  <TestButtonProps />
</MainLayout>
