---
import CenterPageBanner from "../components/shared/CenterPageBanner.astro";
import TestDynamicPackages from "../components/TestDynamicPackages.jsx";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <CenterPageBanner
    BannerTitle="Packages"
    paragraph="I build custom applications for small businesses. "
  />

  <div id="packages-wrapper" class="px-5 mx-5">
    <div id="packages-container" class="flex justify-center">
      <div id="packages-grid" class="grid grid-cols-2 bg-teal px-5">
        <div id="push-down" class="mt-[50px] pt-[50px]">
          <TestDynamicPackages />
        </div>
        <div id="push-up" class="mb-[50px] pb-[50px]">
          <TestDynamicPackages />
        </div>
      </div>
    </div>
  </div>
</MainLayout>
