---
import HeroCard from "../components/HeroCard.astro";
import Services from "../components/Services.astro";
import DynamicBanner from "../components/shared/Dynamic_Banner.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <HeroCard
    title="Web Development"
    listitem1="website creation. ABOUT- why I choose astro for lc, passion about quick and colorful websites."
    listitem2="the ablity to tell your story and brand"
    listitem3=" Increased potential customers, easier to find on Google."
    listitem4="A custom website that fits your business, personality, goals... and you alone."
    heroImg="https://dl.dropboxusercontent.com/scl/fi/lizy4nfd2q35xz5o58yxh/hero-image.jpg?rlkey=5usqa857fi5efbr054xyw55yp&st=g9dullmr&dl=0"
  />

  <DynamicBanner
    headline="Portfolio"
    paragraph1="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi, aut iste nostrum quisquam a sit consequuntur o "
    paragraph2="Lorem ipsum, dol r o "
    paragraph3="Lorem ipsum sequuntur o "
  />

  <Services
    title1="Hovey Roofing"
    title2="Running Quail"
    p1="Static landing pg brochure, client side, site-Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta sit laboriosam deleniti, consectetur obcaecati id. Provident illo veniam pariatur beatae nulla minima sed? "
    p2="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta sit laboriosam exercitationem beatae, similique voluptatem fuga velit a deleniti,"
    img1="https://images.pexels.com/photos/196645/pexels-photo-196645.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    img2="https://images.pexels.com/photos/606541/pexels-photo-606541.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
  />
  <!-- TODO: TESTIMONIALS v-->
  <!-- <section id="testimonials" class="bg-test1 border-black border-b border-t">
    <div id="testimonials-container" class="flex justify-center">
      <div id="grid" class="grid grid-cols-2">
        <div id="sq1">img</div>
        <div id="sq2">
          client side, site-Lorem ipsum, dolor sit amet consectetur adipisicing
          elit. Soluta sit laboriosam deleniti, consectetur obcaecati id.
          Provident illo veniam pariatur beatae nulla minima sed?
        </div>
      </div>
    </div>
  </section> -->

  <!-- TODO: TESTIMONIALS ^-->

  <Services
    title1="Writing to Better Health"
    title2="The Indoor Jungle Project"
    p1="Static landing pg brochure, client side, site-Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta sit laboriosam deleniti, consectetur obcaecati id. Provident illo veniam pariatur beatae nulla minima sed? "
    p2="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta sit laboriosam exercitationem beatae, similique voluptatem fuga velit a deleniti,"
    img1="https://images.pexels.com/photos/196645/pexels-photo-196645.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    img2="https://images.pexels.com/photos/606541/pexels-photo-606541.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
  />
</MainLayout>
