---
import MainLayout from "../layouts/MainLayout.astro";
import BlogPostsComp from "../components/BlogPostsComp.astro";
import CenterPageBanner from "../components/shared/CenterPageBanner.astro";
import Hero from "../components/Hero.astro";
---

<MainLayout>
  <section id="articles" class="py-[45px] my-[155px]">
    <CenterPageBanner
      title="Writing"
      paragraph="This is for the featured works page."
    />

    <BlogPostsComp />
  </section>
</MainLayout>
