<section id="selling-pt">
  <div class="_PrimaryBorder bg-papaya mt-[50px] px-5 py-3 w-1/">
    <p class="">
      This was what Laughing Coyote Dev was created for, to save you some
      headaches that come with learning about:
    </p>
    <ul>
      <li class="">- how to design a website</li>
      <li class="">- how to pick a domain and use hosting</li>
      <li class="">
        - and etc! See
        <a href="/#services" class="pl-1 underline"> services below!</a>
      </li>
    </ul>
  </div>
</section>
