---
import { Image } from "astro:assets";
import TestImage from "../../public/images/image4.png";
import TestImage1 from "../../public/images/image5.png";
import Github from "../../public/images/icons/github.png";
import OpenFile from "../../public/images/icons/openFile.png";
import Card from "../../../Card.astro";

const items = [
  {
    title: "A. business card layout",
    image:
      "https://images.pexels.com/photos/196644/pexels-photo-196644.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
    paragraph:
      "1-1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam maiores cupiditate non illum, ducimus ad vero repellendus accusamus iure quod? Praesentium vel, non vero ex optio recusandae nulla maxime dolorum!",
  },
  {
    title: "B. Three page/ components",
    image:
      "https://images.pexels.com/photos/1779487/pexels-photo-1779487.jpeg?auto=compress&cs=tinysrgb&w=600",
    paragraph:
      "222- Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam maiores cupiditate non illum, ducimus ad vero repellendus accusamus iure quod? Praesentium vel, non vero ex optio recusandae nulla maxime dolorum!",
  },
  {
    title: "C. single pg journal",
    image:
      "https://images.pexels.com/photos/1209843/pexels-photo-1209843.jpeg?auto=compress&cs=tinysrgb&w=600",
    paragraph:
      "222- Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam maiores cupiditate non illum, ducimus ad vero repellendus accusamus iure quod? Praesentium vel, non vero ex optio recusandae nulla maxime dolorum!",
  },
];
---

<!--  --><!-- DYNAMIC CARD COMPONENT FOR TEMPLATES/ FEATURED WORKS -->
<div id="grid-wrapper" class="">
  <div id="flex" class="flex gap-4">
    {
      items.map((item) => (
        <Card
          title={item.title}
          paragraph={item.paragraph}
          image={item.image}
        />
      ))
    }
  </div>
</div>
