---
// import { Image } from "astro:assets";
// import SelfImg from "../../../../../public/images/portfolio-screenshot.png";
---

<section id="about-me" class="bg-orange">
  <div id="container" class="bg-lavender p-5">
    <!-- <h1 class="text-3xl">lets connect</h1>
    <h3 class="text-2xl">About Me</h3> -->

    <div id="grid" class="grid grid-cols-2">
      <div id="left-sq" class="bg-test1">
        <p class="pt-">
          Hi there, and welcome! {"I'm"} Elsa, and I love creating colorful and unconventional
          websites.
        </p>{" "}

        <p class="">
          As someone who has started a creative career from the ground up, I
          know what its like to be overwhelmed with figuring out web design,
          selling strategies, and marketing.
        </p>

        <a href="https://elsahovey.com">link to portfolio</a>
        <!-- <Image
          class="bg-onyx drop-shadow-md border border-black"
          src={SelfImg}
          alt=""
          width={255}
        /> -->
      </div>

      <div id="right-sq" class="flex justify-center bg-test2">
        <!-- <Image
          class="bg-onyx drop-shadow-md border border-black"
          src={SelfImg}
          alt=""
          width={255}
        />

        <p class="">
          This was what Laughing Coyote Dev was created for, to save you some
          headaches that come with learning about:
        </p>
        <ul>
          <li class="">- how to design a website</li>
          <li class="">- how to pick a domain and use hosting</li>
          <li class="">
            - and etc! See
            <a href="/#services" class="pl-1 underline"> services below!</a>
          </li>
        </ul> -->
        right sq
      </div>
    </div>
  </div>
</section>
