---
import SellingPt from "./added/SellingPt.astro";
import HowItWorks from "./added/HowItWorks.astro";
import Templates from "./added/Templates.astro";
---

<div id="" class="flex justify-center px-5">
  <div id="container" class="">
    <div id="h-screen padding" class="h-screen">
      <SellingPt />
      <HowItWorks />
    </div>
    <Templates />
    <!-- * MOVED TO CONTACT SECTION -> <AboutMe /> -->
  </div>
</div>
