---
import FourImgBanner from "./FourImgBanner.astro";
import CTA2 from "./sections/CTA2.astro";
---

<!-- ?CONTENT TO CONSIDER V--><!-- Aesthetic & Brand Differentiation --><!-- Emphasize “cozy,” “colorful,” and “human” design language --><!-- ?CONTENT TO CONSIDER ^ -->
<div class="bg-">
  <FourImgBanner />
  <CTA2
    title="This is the new about-page call-to-action."
    paragraph1="expand on about pg"
    link="/about"
    paragraph2="I provide web design services focused on landing pages, and content creation for small business brand! I create focus-friendly, inclusive websites that elevate your brand and support the work that truly excites you."
    link="/about"
  />
</div>
