---
import { Image } from "astro:assets";

import Img1 from "../../public/screenshots/hoveyroofing.png";
import Img2 from "../../public/screenshots/designs/fish-expo-demo.png";

const items = [
  {
    title: "Hovey Roofing",
    p: "1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam maiores cupiditate non illum, ducimus ad vero repellendus accusamus iure quod? Praesentium vel, non vero ex optio recusandae nulla maxime dolorum!",
    image:
      "https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
  },
  {
    title: "Generations Backflow",
    p: "2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam maiores cupiditate non illum, ducimus ad vero repellendus accusamus iure quod? Praesentium vel, non vero ex optio recusandae nulla maxime dolorum!",
    image:
      "https://images.pexels.com/photos/357440/pexels-photo-357440.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
  },
];
---

<div class="bg-test1">
  {
    items.map((item) => (
      <div class="">
        <h3 class="text-2xl font-bold">{item.title}</h3>
        <img src={item.image} alt="" />
        <p>{item.p}</p>
      </div>
    ))
  }
</div>
