---
import { Image } from "astro:assets"
import Img1 from "../../public/screenshots/hoveyroofing.png";
import Img2 from "../../public/screenshots/designs/fish-expo-demo.png";

const caseStudies = [
  {
    title: "HoveyRoofing",
    img: Img1,
    img1: Img1,
    p: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam consequuntur voluptatibus aliquam sint dicta nihil perferendis or sit amet consectetur adipisicing elit. Ullam consequuntur voluptatibus aliquam sint dicta nihil perferendis harum a fuga! Id suscipit totam aut exercitationem hic odit porro vitae excepturi or sit amet consectetur adipisicing elit. Ullam consequuntur voluptatibus aliquam sint dicta nihil perferendis or sit amet consectetur adipisicing elit. Ullam consequuntur voluptatibus aliquam sint dicta nihil perferendis illo!",
    url: "https://hoveyroofing.com",
  },
  {
    title: "Generations Backflow",
    img: Img2,
    p: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam consequuntur voluptatibus aliquam sint dicta nihil perferendis or sit amet consectetur adipisicing elit. Ullam consequunt lam consequuntur voluptatibus aliquam sint dicta nihil perferendis or sit amet consectetur adipisicing elit. Ullam consequuntur voluptatibus aliquam sint dicta nihil perferendis illo!",
    url: "https://ie-backflow-ixj3fuw24-elsahv.vercel.app/",
  },
];

---


    <div id="case-studies" class="px-5 mt-[155px] ">
      <div class="p-5">
        <div class="">
          <h2 class="text-5xl underline font-bold text-center">
            Customer Case Studies
          </h2>
          <div class="">
            <p class="py-5 px-[155px]">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum
              quo atque fuga. Corporis doloremque sit minus, asperiores quia
              suscipit nihil maxime consequatur, debitis, velit inventore
              nostrum! Dicta alias corporis numquam. t amet consectetur
              adipisicing elit. Rerum quo atque fuga. Corporis doloremque sit
              minus, asperiores quia suscipit nihil maxime consequatur, debitis,
              velit inventore nostrum! Dicta alias corporis numquam.
            </p>
          </div>
        </div>
      </div>
      {/* //* GRID STARTS HERE */}
      <div class="grid 2xl:grid-cols-2 grid-cols-1 gap-4 my-3 pt-[50px]">
        {caseStudies.map((item, index) => (
          <div class="">
            <div class="">
              <a href={item.url}>
                <div class="hover:opacity-80">
                  {/* //* TITLE STARTS HERE */}
                  <div id="title" class="px-3 py-5 flex items-center">
                    <h2 class="font-medium text-3xl">{item.title}</h2>
                    <span class="text-4xl text-red-900">
                    </span>
                  </div>

                  {/* <div class="2x p-5">  */}
                  <Image
                    class="bg-carribean border border-black"
                    src={item.img}
                    alt=""
                    //  width={800}
                    //  height={400}
                  />
                  {/* </div> */}
                </div>
              </a>
            </div>
            <p class="w-full dropshadow-2xl font-medium py-5 pl-5">
              {item.p}
            </p>
          </div>
        ))}
      </div>
    </div>
