---
import Card from "./Card.astro";

const items = [
  {
    title: "Hovey Roofing",
    paragraph:
      "phone calls, meetings, consultations.... research, planning, scheduling... develop site structure/sitemap ex:10 hours x $50/hr=$500. -What does the user want? -how to make brand provide value?",
    image:
      "https://images.pexels.com/photos/15406244/pexels-photo-15406244/free-photo-of-stars-in-cosmos.jpeg?auto=compress&cs=tinysrgb&w=600",
  },
  {
    title: "Generations Backflow",
    paragraph:
      "  sitemap, wireframe site--> mockup first draft--> mockup revised, final draft",
    image:
      "https://images.pexels.com/photos/1209843/pexels-photo-1209843.jpeg?auto=compress&cs=tinysrgb&w=600",
  },
];
---

<!-- todo:ADD BUTTON WRAPPER(CASE STUDY BTN, VISIT SITE BTN ) -->
<section id="featured-works" class="py-[45px] my-[155px]">
  <!-- <div class="py-3 flex justify-center bg-"> -->
  <!-- <h2 class="text-5xl px-5 py-2 font-bold max-w-sm">featured-works</h2> -->
  <!-- </div> -->
  <div id="grid-wrapper" class="flex justify-center">
    <div
      id="grid"
      class="grid md:grid-cols-2 grid-cols-1 gap-8 max-w-screen-xl py-4"
    >
      {
        items.map((item) => (
          <>
            <Card
              title={item.title}
              image={item.image}
              paragraph={item.paragraph}
            />
          </>
        ))
      }
    </div>
  </div>
  <!-- <div
    id="additional info-TBD"
    class="_PrimaryBorder rounded p-3 mx-5 py-5 my-[50px]"
  >
    nventore, officia. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Libero amet quisquam repudiandae, numquam veritatis itaque id mollitia
    sequi! Iure numquam unde, accusamus assumenda veniam nobis ab nihil fugiat.
    Inventore, offv
  </div> -->
</section>
