---
export interface Props {
  title: string;
  paragraph1: string;
  paragraph2: string;
  link: string;
}

const { title, paragraph1, paragraph2, link } = Astro.props as Props;
---

<>
  <h2 class="text-3xl 2xl:pt-5 2xl:mt-5 text-left font-bold underline">
    {title}
  </h2>
  <p>
    <a class="text-" href={link}> {paragraph1}</a>
  </p>
  <p>{paragraph2}</p>
</>
