---
// import TestCard from "./TestCard.astro";
---

- <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
<!--*--*--*--*--*-DYNAMIC LISTS v-*--*--*--*--*--*--*--*--*--*-->
<!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
<!-- <div class="">
  <div id="ROOF" class="bg- pb-[50px] border border-black">
    <TestCard
      title="Hovey Roofing"
      listitem1="website creation"
      listitem2="the ablity to tell your story and brand"
      listitem3=" Increased potential customers, easier to find on Google. ipsum dolor sit amet consectetur adipisicing elit. Similique aspernatur neque facilis quibusdam harum voluptates aliquid impedit, aliquam a quidem provident, suscipit minus itaque hic nam. Libero eaque quod labore."
      listitem4="A custom website that fits your business, personality, goals... and you alone."
    />
  </div>

  <div id="BACKFLOW" class="bg- border border-black">
    <TestCard
      title="Generations Backflow"
      listitem1="ipsum dolor sit amet consectetur adipisicing elit. Similique aspernatur neque facilis quibusdam harum voluptates aliquid impedit, aliquam a quidem provident, suscipit minus itaque hic nam. Libero eaque quod labore."
      listitem2="the ablity to tell your story and brand"
      listitem3=" Increased potential customers, easier to find on Google."
      listitem4="A custom website that fits your business, personality, goals... and you alone."
    />
  </div>
</div> -->

<!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
<!--*--*--*--*--*-DYNAMIC LISTS v-*--*--*--*--*--*--*--*--*--*-->
<!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
<!-- 
<div
  id="grid-wrapper"
  class="flex justify-center 2xl:pr-[55px] pr-2 2xl:px-[55px] px-0"
>
  <div id="flex-col" class="flex flex-col">
    <section id="flex-1" class="flex md:flex-row flex-col bg-">
      <div id="sq1" class="bg- flex justify-end items-end pb-5 2xl:pr-[75px]">
        <ul class="md:text-lg text-sm pt-1 pl-5 pr-3 ml-5 max-w-[850px]">
          <h2 class="text-test text-4xl font-extrabold pb-2">HoveyRoofing</h2>
          <li class="lowercase text-xl">
            <b>-</b><a href="/web-development" class="font-semibold">
              CREATING A WEBSITE,</a
            >
            TO INCREASE YOUR POTENTIAL CUSTOMERS?
          </li>
          <li class="lowercase text-xl">
            <b>-</b> The ablity to tell your <a
              href="/writing"
              class="font-bold">story and brand?</a
            >
          </li>
          <li class="lowercase text-xl">
            <b>-</b> Increased potential customers, easier to find on Google.
          </li>

          <li class="lowercase text-xl">
            <b>-</b> A custom website that fits your business, personality, goals...
            and you alone.
          </li>
        </ul>
      </div>
      <div
        id="img-container"
        class="flex justify-center items-center border border-black p-5 m-5 max-w-[900px]"
      >
        <a href="https://hoveyroofing.com">
          <img
            src="https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          />
        </a>
      </div>
    </section>
    <!-- /////////////////////////////////// -->
<!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
<!--*--*--*--*--*-NEW WORKS v-*--*--*--*--*--*--*--*--*--*-->
<!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
<!-- <div id="NEW-WORKS">
  <section
    id="GENERATIONS BACKFLOW"
    class="flex md:flex-row flex-col-reverse gap-x-8 bg-test1"
  >
    <div
      id="img-container"
      class="bg-test1 border border-black flex justify-end items-center mr-[75px] p-5 m-5 max-w-[900px]"
    >
      <a href="https://google.com">
        <img
          src="https://images.pexels.com/photos/357440/pexels-photo-357440.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
        />
      </a>
      <div class="pb-[25px] p-3 flex justify-start items-end">
        <ul class="md:text-lg text-md pt-1 2xl:pr-[25px] pr-0">
          <li class="" class="">
            <h2 class="text-4xl font-extrabold pb-2">HoveyRoofing</h2>
          </li>

          <li class="lowercase text-xl">
            <b>-</b><a href="/web-development" class="font-semibold">
              CREATING A WEBSITE,</a
            >
            TO INCREASE YOUR POTENTIAL CUSTOMERS?
          </li>
          <li class="lowercase text-xl">
            <b>-</b> The ablity to tell your <a
              href="/writing"
              class="font-bold">story and brand?</a
            >
          </li>
          <li class="lowercase text-xl">
            <b>-</b> Peace of mind... for business owners who don't have time to
            build with software.
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>

<section
  id="GENERATIONS BACKFLOW"
  class="flex md:flex-row flex-col-reverse gap-x-8 bg-test1"
>
  <div
    id="img-container"
    class="bg-test1 border border-black flex justify-end items-center mr-[75px] p-5 m-5 max-w-[900px]"
  >
    <a href="https://google.com">
      <img
        src="https://images.pexels.com/photos/357440/pexels-photo-357440.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt=""
      />
    </a>
    <div class="pb-[25px] p-3 flex justify-start items-end">
      <ul class="md:text-lg text-md pt-1 2xl:pr-[25px] pr-0">
        <li class="" class="">
          <h2 class="text-4xl font-extrabold pb-2">Generations Backflow</h2>
        </li>

        <li class="lowercase text-xl">
          <b>-</b><a href="/web-development" class="font-semibold">
            CREATING A WEBSITE,</a
          >
          TO INCREASE YOUR POTENTIAL CUSTOMERS?
        </li>
        <li class="lowercase text-xl">
          <b>-</b> The ablity to tell your <a href="/writing" class="font-bold"
            >story and brand?</a
          >
        </li>
        <li class="lowercase text-xl">
          <b>-</b> Peace of mind... for business owners who don't have time to build
          with software.
        </li>
      </ul>
    </div>
  </div>
</section> -->

<!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
<!--*--*--*--*--*-NEW WORKS v-*--*--*--*--*--*--*--*--*--*-->
<!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
