---

---

<div class="mr-5 mb-5">
  <img
    src="https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg"
    alt=""
    class="sq-styles mr-2 mt-5"
  />
</div>

<!-- <div class="bg- m-[50px] lg:px-5">
  <div
    id="HIGHLIGHTS THE KEYFEATURES AND AUDIENCE MESSAGE SECTIONS"
    class="bg- my-5 py-5 mt-5 pr-3 fle"
  >
    <div id="TEST-grid" class="bg- grid grid-cols-2 gap-5 mt-5 md:w-full w-3/4">
      <img
        src="https://images.pexels.com/photos/3046629/pexels-photo-3046629.jpeg"
        alt=""
        class="sq-styles"
      />
      <div id="sq2" class="">
        <img
          src="https://dl.dropboxusercontent.com/scl/fi/g23z3n6u9joennznyqxc4/lc-9-20-24.png?rlkey=q75joo6od6ixkfoxr9q57kfkb&st=19kz2kwm&dl=0"
          alt=""
          class="sq-styles mr-2 mt-5 h-[210px]"
        />
      </div>

      <div class="px-2">
        <img
          src="https://images.pexels.com/photos/304664/pexels-photo-304664.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          class="sq-styles"
        />
      </div>
      <img
        src="https://dl.dropboxusercontent.com/scl/fi/r2memu9vr71tw03oe57kz/IMG_0300.jpg?rlkey=k9upvwvx4vudmyv88f8srhxlu&st=g5s7cqo5&dl=0"
        alt=""
        class="sq-styles"
      />
    </div>
  </div>
</div> -->
