---
const today = new Date();
import ContactSection from "./ContactSection.astro";
---

<footer class="text-center w-full bg-">
  <ContactSection />
  <>
    <p>Copyright &copy; {today.getFullYear()}</p>
  </>
</footer>
