---
const today = new Date();
---

<footer class="bg-teal text-parchment text-center w-full pt-[50px] pb-2">
  <p>
    developed by <span class="font-bold">
      <a href="https://elsahovey.com">Elsa Hovey</a>
    </span>
  </p>
  <p>Copyright &copy; {today.getFullYear()}</p>
</footer>
