---
const today = new Date();
import ContactSection from "./ContactSection.astro";
---

<footer class="text-center w-full border border-t-black pt-3 pb-2">
  <!-- <ContactSection /> -->
  <p>Copyright &copy; {today.getFullYear()}</p>
</footer>
