---
import TestMenuItems from "./MenuItems";

const today = new Date();
---

<footer class="text-teal bg-parchment text-center w-full pt-5 pb-2">
  <p>
    developed by <span class="font-bold">
      <a href="https://elsahovey.com">Elsa Hovey</a>
    </span>
  </p>
  <p>Copyright &copy; {today.getFullYear()}</p>
  <!-- <TestMenuItems /> -->
</footer>
