---
const today = new Date();
---

<footer
  class="relative bottom-0 bg-teal text-center w-full border-t-2 border-black mt-5"
>
  <div>made by Elsa Hovey</div>
  <div class="">
    Copyright &copy; {today.getFullYear()}
  </div>
</footer>
