---
import TestMenuItems from "./tests/MenuItems";

const today = new Date();
---

<footer
  class="text-black bg-lavender text-center w-full border border-t-carribean pt-5 mt-5 pb-2"
>
  <p>
    developed by <span class="font-bold">
      <a href="https://elsahovey.com">Elsa Hovey</a>
    </span>
  </p>
  <p>Copyright &copy; {today.getFullYear()}</p>
  <TestMenuItems />
</footer>
