---
export interface Props {
  title: string;
  paragraph: string;
}

const { title, paragraph } = Astro.props as Props;
---

<div class="text-center pb-5">
  <h2 class="pl-[55px] text-2xl">{title}</h2>
  <p class="pl-[55px] pb-3">{paragraph}</p>
</div>
