---
import HamburgerMenu from "./HamburgerMenu.jsx";

const links = [
  { label: "Services", href: "/#services" },
  // SUB LINKS: 1) 2)ABOUT

  { label: "Web Development", href: "/#web-development" },
  // SUB LINKS: 1) 2)FEATURED SITES
  { label: "Writing", href: "/#writing" },
  // SUB LINKS: 1)WRITING SERVICES 2)BLOG
  { label: "Contact", href: "/#contact" },
];
---

<!-- todo: BOTTOM BORDER STYLE, ADD SHADOW BLUR (or teal background transition) WHEN SCROLLING -->
<header
  class="sticky top-0 dropshadow-2xl bg-parchment text-carribean border border-onyx z-50 pb-3 pt-2"
>
  <nav class="font-bold pl-5 md:pr-5 pr-1 pt-1 grid grid-cols-2 text-2xl">
    <div id="logo" class="text-3xl flex justify-start items-center py-3 pl-1">
      <a href="/">Laughing Coyote Dev</a>
    </div>
    <HamburgerMenu />
    <div id="" class="xl:block hidden">
      <ul class="flex justify-end 2xl:items-end items-center">
        {
          links.map((link) => (
            <a class="mx-5" href={link.href}>
              <li class="2xl:pt-5 pt-1 opacity-90 hover:opacity-100 drop-shadow-2xl">
                {link.label}
              </li>
            </a>
          ))
        }
      </ul>
    </div>
  </nav>
</header>
