---
const links = [
  { label: "Services", href: "/#services" },
  // SUB LINKS: 1) 2)ABOUT

  { label: "Web Development", href: "/#web-development" },
  // SUB LINKS: 1) 2)FEATURED SITES
  { label: "Writing", href: "/#writing" },
  // SUB LINKS: 1)WRITING SERVICES 2)BLOG
  { label: "Contact", href: "/#contact" },
];
---

<!-- todo: BOTTOM BORDER STYLE, ADD SHADOW BLUR (or teal background transition) WHEN SCROLLING -->
<header
  class="bg- sticky top-0 dropshadow-2xl text-carribean border border-onyx z-50 2xl:pb-3 pb-5 2xl:pt-2 pt-4"
>
  <nav
    class="font-bold pl-5 md:pr-5 pr-1 pt-1 grid 2xl:grid-cols-2 grid-cols-1 text-2xl"
  >
    <div
      id="logo"
      class="2xl:text-3xl text-5xl flex md:justify-start justify-center items-center py-3 2xl:pl-1 pl-4"
    >
      <a href="/">Laughing Coyote Dev</a>
    </div>
    <div id="" class="">
      <ul
        class="bg- flex md:flex-row flex-col 2xl:justify-end justify-start 2xl:items-end items-start"
      >
        {
          links.map((link) => (
            <li class="bg- 2xl:pt-5 pt-1 opacity-90 hover:opacity-100 drop-shadow-2xl">
              <a class="mx-5" href={link.href}>
                {link.label}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
</header>
