---
const links = [
  { label: "Home", href: "/" },
  { label: "About", href: "/#about-section" },
  { label: "Websites", href: "/#websites-section" },
  { label: "Packages", href: "/#packages-section" },
  { label: "Contact", href: "/#contact-section" },
];
---

<header class="dropshadow-2xl text-black pt-1">
  <nav class="pl-5 pr-5 pt-1 grid grid-cols-2 text-2xl">
    <div class="flex justify-start items-end py-3 pl-1">
      <div id="logo" class="font-bold text-3xl">
        <a href="/">Laughing Coyote Dev</a>
      </div>
    </div>
    <ul class="flex justify-end items-end py-3">
      {
        links.map((link) => (
          <a class="mx-5" href={link.href}>
            <li>{link.label}</li>
          </a>
        ))
      }
    </ul>
  </nav>
</header>
