---
import MenuItems from "./tests/MenuItems";
---

<header class="bg- dropshadow-2xl text-teal 2xl:pb-3 pb-[30px]">
  <div
    class="bg-test md:pl-5 pl-0 md:pr-5 pr-1 pt-1 grid 2xl:grid-cols-2 grid-cols-1"
  >
    <a id="" href="/">
      <div
        id="header-logo"
        class="bg- font- 2xl:text-2xl md:text-4xl text-2xl flex md:justify-start items-center 2xl:pl-1 pl-4"
      >
        Laughing Coyote Dev
        <img
          src="https://dl.dropboxusercontent.com/scl/fi/xzf hk2jletg2hqwc9ecks/coyote.png?rlkey=xtfjf7plvgb8y3fjxdij0vdt5&st=xf6njv83&dl=0"
          class="w-28 h-24"
        />
      </div>
    </a>
    <nav id="" class="bg-">
      <MenuItems />
    </nav>
  </div>
</header>
