---
// import { Image } from "astro:assets";
// import Moonburger from "../../public/images/icons/moon.png";
import TestMoonburger from "../tests/testMoonburger.astro";

const links = [
  // { label: "Home", href: "/" },
  { label: "Web Development", href: "/web-development" },
  { label: "Writing", href: "/writing" },
  // { label: "Pricing", href: "/#pricing" },
  // { label: "Contact", href: "/#contact" },
];
---

<header
  class="dropshadow-2xl bg-parchment text-onyx pt-1 sticky top-0 bg- z-50"
>
  <nav
    class="font-bold md:pb-[50px] pb-1 pl-5 md:pr-5 pr-1 pt-1 grid md:grid-cols-2 grid-cols-1 text-2xl"
  >
    <div class="flex justify-start items-end py-3 pl-1">
      <div
        id="logo"
        class="md:text-3xl text-2xl bg-teal text-parchment border border-black p-3 rounded"
      >
        <a href="/">Laughing Coyote Dev</a>
      </div>
    </div>
    <div id="hamburger" class="lg:hidden flex justify-end p-5">
      <TestMoonburger />
    </div>

    <div id="block-hidden" class="lg:block hidden">
      <ul class="flex justify-end 2xl:items-end items-center py-3 mt-4">
        {
          links.map((link) => (
            <a class="mx-5" href={link.href}>
              <li class="2xl:pt-5 pt-1 opacity-90 hover:opacity-100 drop-shadow-2xl">
                {link.label}
              </li>
            </a>
          ))
        }
      </ul>
    </div>
  </nav>
</header>
