 ---
 import { Image } from "astro:assets"
 import Site1 from "../../public/screenshots/site1.png";
 import Site2 from "../../public/screenshots/site2.png";
 import Site3 from "../../public/screenshots/site3.png";
 import Site4 from "../../public/screenshots/site4.png";
 ---
 
      <div id="" class="2xl:pt-[120px] ">
        <div id="hero-content-container" class="mt-[60px]">
          <div class="px-5">
            <h1 class=" text-3xl py-1 my-1 font-bold">
              A subscription website service for creative business owners.
            </h1>

            <p class="pb-5">
              Why should you prefer a custom-made website, when you can simply
              use wix or wordpress? Because a custom website fits your business,
              personality, goals... and you alone.
            </p>

            <ul class="md:text-lg text-md pt-1">
              <li>
                <b>-</b> Increased potential customers, easier to find on Google
              </li>
              <li>
                <b>-</b> The ablity to tell your story and brand
              </li>
              <li>
                <b>-</b> Peace of mind... for business owners who {"don't"} have
                time to build with software
              </li>
              <li>
                <b>-</b> A custom website that fits your business, personality,
                goals... and you alone.
              </li>
            </ul>

            <div class="p-1 mt-5 text-onyx text-lg">
              <button class="dropshadow-lg hover:text-teal py-1 pr-3 pl-2 dropshadow-md">
                <a href="/#about">About</a>
              </button>
              <button class="bg-teal text-parchment hover:text-orange dropshadow-lg border border-onyx  hover:bg-teal px-2 py-1 dropshadow-md">
                <a href="/#contact">See Featured Websites</a>
              </button>
            </div>
          </div>

          <div
            id="hero-gallery"
            class="mt-[50px] px-5 grid grid-cols-2 gap-6"
          >
            <Image src={Site1} alt="" class="border-2 border-black" />
            <Image src={Site2} alt="" class="border-2 border-black" />
            <Image src={Site3} alt="" class="border-2 border-black" />
            <Image src={Site4} alt="" class="border-2 border-black" />
          </div>
         
        </div>
      </div>
  

