---
import ButtonProps from "./shared/ButtonProps.astro";

const items = [
  {
    title: "title1",
  },
  {
    title: "title2",
  },
];
---

<div id="hero-wrapper" class="flex justify-center md:pt-[120px] pt-1">
  <div id="container">
    <div id="flex-col" class="flex flex-col">
      <section id="flex-1" class="grid md:grid-cols-2 grid-cols-1 gap-x-8">
        <div
          id="sq1"
          class="bg- flex justify-end items-end md:pb-5 pb-[55px] md:pr-5 p-1 ml-2"
        >
          <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
          <!--*--*--*--*--*-CENTER PAGE BANNER v-*--*--*--*--*--*--*--*--*--*-->
          <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
          <ul class="md:text-lg text-md pt-1 md:pl-5 p1-5 2xl:ml-5 ml-1">
            <h2 class="text-test lg:text-4xl text-3xl font-extrabold pb-2">
              A subscription website service for busy small-businesses owners.
            </h2>

            <li class="lowercase md:text-xl text-md">
              <b>-</b><a href="/web-development" class="font-semibold">
                CREATING A WEBSITE,</a
              >
              TO INCREASE YOUR POTENTIAL CUSTOMERS?
            </li>
            <li class="lowercase md:text-xl text-md">
              <b>-</b> The ablity to tell your <a
                href="/writing"
                class="font-bold">story and brand?</a
              >
            </li>
            <!-- <li class="lowercase md :text-xl text-md">
              <b>-</b> Peace of mind... for business owners who don't have time to
              build with software.
            </li> -->

            <li class="lowercase md:text-xl text-md">
              <b>-</b> Increased potential customers, easier to find on Google.
            </li>

            <li class="lowercase md:text-xl text-md">
              <b>-</b> A custom website that fits your business, personality, goals...
              and you alone.
            </li>

            <!-- * BTN WRAPPER   v-->
            <ButtonProps
              btn1="see services"
              btn2="contact"
              btn1Link="/#services"
              btn2Link="/#contact"
            />
            <!-- * BTN WRAPPER   ^-->
          </ul>
        </div>
        <div
          id="sq2"
          class="flex justify-center items-center 2xl:p-0 pb-[150px]"
        >
          <img
            src="https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          />
        </div>
      </section>
      <!-- /////////////////////////////////// -->
      <section
        id="flex-2"
        class="grid md:grid-cols-2 grid-cols-1 gap-x-8 pt-5 mt-[65px]"
      >
        <div
          id="sq3"
          class="flex justify-end items-center mr-[75px] 2xl:m-0 ml-[45px]"
        >
          <img
            src="https://images.pexels.com/photos/21658440/pexels-photo-21658440/free-photo-of-happy.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt=""
          />
        </div>
        <div
          id="sq4"
          class="bg- flex justify-start items-end md:pb-5 pb-[55px] md:pr-5 p-1 ml-2"
        >
          <ul class="md:text-lg text-md pt-1 pl-4">
            <li class="lowercase" class="text-lg">
              <p class="text-test text-xl font-extrabold">
                WHAT DO YOU NEED HELP WITH?
              </p>
            </li>

            <li class="lowercase">
              <b>-</b><a href="/web-development" class="font-semibold">
                CREATING A WEBSITE,</a
              >
              TO INCREASE YOUR POTENTIAL CUSTOMERS?
            </li>
            <li class="lowercase">
              <b>-</b> The ablity to tell your <a
                href="/writing"
                class="font-bold">story and brand?</a
              >
            </li>
            <li>
              <b>-</b> Peace of mind... for business owners who don't have time to
              build with software.
            </li>
            <!-- * BTN WRAPPER   v-->
            <ButtonProps
              btn1="why choose LC?"
              btn2="contact"
              btn1Link=""
              btn2Link="/"
            />
            <!-- * BTN WRAPPER   ^-->
            <!-- <li>
                   <b>-</b> Increased potential customers, easier to find on Google.
                 </li> -->

            <!-- <li>
              <b>-</b> A custom website that fits your business, personality, goals...
              and you alone.
            </li> -->
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>
