---
export interface Props {
  title: string;
  pic: any;
}

const { title, pic } = Astro.props as Props;
---

<div id="/" class="bg-">
  <div id="" class="2xl:pt-[80px] pt-[90px]">
    <div class="grid 2xl:grid-cols-2 grid-cols-1 h-screen">
      <section class="2xl:px-5 px-1 flex items-center">
        <div class="w-full lg:pl-[70px] px-5">
          <div class="py-1 mb-1">
            <h1 class="text-4xl py-1 my-1 font-bold">{title}</h1>
          </div>
          {
            /* <p class="pb-5">
               Why should you prefer a custom-made
                website, when you can simply use wix or wordpress? Because a
                custom website fits your business, personality, goals... and you
                alone.
              </p> */
          }
          <ul class="md:text-lg text-md pt-1">
            <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
            <!--*--*--*--*--*-CHANGE CONTENT v-*--*--*--*--*--*--*--*--*--*-->
            <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->

            <li class="lowercase" class="text-lg">
              <p class="text-test text-xl font-extrabold">
                WHAT DO YOU NEED HELP WITH?
              </p>
            </li>

            <li class="lowercase">
              <b>-</b><a href="/web-development" class="font-semibold">
                CREATING A WEBSITE,</a
              >
              TO INCREASE YOUR POTENTIAL CUSTOMERS?
            </li>
            <li class="lowercase">
              <b>-</b> The ablity to tell your <a
                href="/writing"
                class="font-bold">story and brand?</a
              >
            </li>
            <li>
              <b>-</b> Peace of mind... for business owners who don't have time to
              build with software.
            </li>

            <!-- <li>
                   <b>-</b> Increased potential customers, easier to find on Google.
                 </li> -->

            <!-- <li>
              <b>-</b> A custom website that fits your business, personality, goals...
              and you alone.
            </li> -->

            <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
            <!--*--*--*--*--*-CHANGE CONTENT v-*--*--*--*--*--*--*--*--*--*-->
            <!--*--*--*--*--*--*--*--*--*--*--*--*--*--*--*-->
          </ul>

          <div id="btn-wrapper" class="p-1 mt-5 text-parchment text-lg">
            <button
              class="border border-black rounded dropshadow-lg bg-teal hover:text-white mr-1 px-2 py-1"
            >
              <a href="/featured-works">See all services</a>
            </button>
            <button
              class="border border-black rounded dropshadow-lg bg-orange ml-1 px-2 py-1 dropshadow-md"
            >
              <a href="/contact">Contact</a>
            </button>
          </div>
        </div>
      </section>

      <section class="pt-[25px]">
        <!-- <img
          src="https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          class="border border-black"
        /> -->

        <img src={pic} alt="" />
      </section>
    </div>
  </div>
</div>
