---
import PackageCard from "./PackageCard";
import CenterPageBanner from "./shared/CenterPageBanner.astro";
---

<div class="mt-5 pt-5">
  <CenterPageBanner
    BannerTitle="Packages"
    paragraph="I build custom applications for small businesses. "
  />

  <div id="packages" class="px-5 mx-5">
    <div id="packages-wrapper" class="font-semibold flex justify-center">
      <div id="packages-container" class="bg- md:m-5 p-5 m-5">
        <div id="flex-mobile" class="bg- flex xl:flex-row flex-col space-x-12">
          <div id="push-down" class="mt-[50px] pt-[50px]">
            <PackageCard
              pkgNo="1"
              title="The Growing Pup"
              desc="Basic landing page with 1x per month updates."
              item1="a template catered towards people starting out"
              item2="Fully responsive 1-page website (home, about, contact, etc."
              item3="Mobile-friendly and modern design."
              item4=" Basic animations/interactions with JavaScript, Contact form (optional)."
              item5="Free hosting setup (Netlify or GitHub Pages). Delivery in 48hours after content is received"
            />
          </div>
          <div id="push-up" class="mb-[50px] pb-[50px]">
            <PackageCard
              pkgNo="2"
              title="The Rising Scout"
              desc="Rising carnivore: 1x updates per week"
              item1="a template catered towards people starting out"
              item2="Fully responsive 1-page website (home, about, contact, etc."
              item3="Mobile-friendly and modern design."
              item4=" Basic animations/interactions with JavaScript, Contact form (optional)."
              item5="Free hosting setup (Netlify or GitHub Pages). Delivery in 48hours after content is received"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
