---
import ButtonProps from "./shared/ButtonProps.astro";
---

<div id="grid" class="p-5 m-5 grid grid-cols-2 gap-10">
  <div
    id="testimonial-container1"
    class="bg-papaya text-teal sq-styles-teal p-[50px] mt-[150px]"
  >
    <div id="" class="bg- grid lg:grid-cols-2 py-5">
      <div id="sq1" class="sq-styles xl:p-0 p-5 flex items-center">
        <img
          src="https://images.pexels.com/photos/10986252/pexels-photo-10986252.jpeg"
          alt=""
          class="sq-styles-teal mr-4"
        />
      </div>
      <div id="sq2" class="ml-4 p-3">
        <div id="view-testimonial" class="">
          <h2 class="font- text-xl">package 01</h2>
          <h3 class="text-4xl font-extrabold pb-1">The Growing Pup"</h3>
          <p class="bg-munsell text-parchment sq-styles mt-5 p-3">
            "Before I was struggling with [problem,] and it made me feel
            [negative emotion]."
          </p>
          <p class="mt-5">
            "Now I have acheived this [result], and I feel [positive emotion]."
          </p>
          <p>-Glen</p>
          <ButtonProps
            btn1="see different styles"
            btn1Link="/#see-different-styles"
          />
        </div>
      </div>
    </div>

    <div id="flex2" class="flex space-x-10 mt-2">
      <div id="sq3">
        <img
          src="https://images.pexels.com/photos/304664/pexels-photo-304664.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          class="sq-styles mt-5"
        />
      </div>
      <div id="sq4">
        <img
          src="https://dl.dropboxusercontent.com/scl/fi/r2memu9vr71tw03oe57kz/IMG_0300.jpg?rlkey=k9upvwvx4vudmyv88f8srhxlu&st=g5s7cqo5&dl=0"
          alt=""
          class="sq-styles"
        />
      </div>
    </div>
  </div>

  <div
    id="testimonial-container2"
    class="text-teal bg-papaya sq-styles p-[50px] mb-[150px] mx-5"
  >
    <div id="" class="bg- grid lg:grid-cols-2 py-5">
      <div id="sq1" class="sq-styles xl:p-0 p-5 flex items-center">
        <img
          src="https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg"
          alt=""
          class="sq-styles-teal mr-4"
        />
      </div>
      <div id="sq2" class="ml-4 p-3">
        <div id="view-testimonial2" class="">
          <h2 class="font- text-xl">package 02</h2>
          <h3 class="text-4xl font-extrabold pb-1">The Rising Scout"</h3>
          <p class="bg-carribean text-parchment sq-styles mt-5 p-3">
            "Before I was struggling with [problem,] and it made me feel
            [negative emotion]."
          </p>
          <p class="mt-5">
            "Now I have acheived this [result], and I feel [positive emotion]."
          </p>
          <p>-Glen</p>
          <ButtonProps
            btn1="see different styles"
            btn1Link="/#see-different-styles"
          />
        </div>
      </div>
    </div>

    <div id="flex2" class="bg- flex space-x-10 mt-2">
      <div id="sq3">
        <!--  -->
        <!--  -->
        <img
          src="https://images.pexels.com/photos/2041385/pexels-photo-2041385.jpeg"
          alt=""
          class="sq-styles mt-5"
        />
      </div>
      <div id="sq4">
        <img
          src="https://images.pexels.com/photos/19557629/pexels-photo-19557629.jpeg"
          alt=""
          class="sq-styles"
        />
      </div>
    </div>
  </div>
</div>
