---
import ButtonProps from "./shared/ButtonProps.astro";
import CenterPageBanner from "./shared/CenterPageBanner.astro";
---

<div id="container" class="2xl:p-5 2xl:mx-[90px] text-teal bg-">
  <div class="mt-[155px] pt-5 text-parchment">
    <CenterPageBanner
      BannerTitle="Packages"
      paragraph="I build custom applications for small businesses. "
    />
  </div>
  <div
    id="main-grid"
    class="bg- lg:p-5 p-1 md:m-5 grid md:grid-cols-2 grid-cols-1 gap-12"
  >
    <div
      id="PKGS-CONTAINER1"
      class="bg-papaya sq-styles-teal 2xl:px-[35px] px-3 py-5 md:mt-[150px]"
    >
      <div id="grid1" class="bg- grid 2xl:grid-cols-2 p-2">
        <div id="sq1" class="flex items-center">
          <img
            src="https://images.pexels.com/photos/10986252/pexels-photo-10986252.jpeg"
            alt=""
            class="sq-styles-teal mr-4"
          />
        </div>
        <div id="sq2" class="2xl:ml-4 p-3">
          <div id="view-testimonial" class="">
            <h2 class="text-xl opacity-80">package 01</h2>
            <h3 class="_textShadow text-4xl font-extrabold pb-1">
              The Growing Pup"
            </h3>
            <p class="sq-styles bg-teal text-parchment mt-5 p-3">
              -Basic landing page with 1x per month updates.
            </p>
            <div id="list-btn-container" class="ml-2 2xl:pl-5 2xl:pr-3">
              <ul class="lowercase font-semibold list-disc space-y-3 pt-5">
                <li>a template catered towards people starting out</li>
                <li>
                  Fully responsive 1-page website (home, about, contact, etc.
                </li>
                <li>Mobile-friendly and modern design.</li>
                <li>
                  Basic animations/interactions with JavaScript, Contact form
                  (optional).
                </li>
                <li>
                  Free hosting setup (Netlify or GitHub Pages). Delivery in 48
                  hours after content is received
                </li>
              </ul>
              <!-- <ButtonProps
                btn1="see different styles"
                btn1Link="/#see-different-styles"
              /> -->
            </div>
          </div>
        </div>
      </div>

      <div id="flex2" class="flex space-x-10 mt-2">
        <div id="sq3">
          <img
            src="https://images.pexels.com/photos/304664/pexels-photo-304664.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt=""
            class="sq-styles -5"
          />
        </div>
        <div id="sq4">
          <img
            src="https://dl.dropboxusercontent.com/scl/fi/r2memu9vr71tw03oe57kz/IMG_0300.jpg?rlkey=k9upvwvx4vudmyv88f8srhxlu&st=g5s7cqo5&dl=0"
            alt=""
            class="sq-styles"
          />
        </div>
      </div>
    </div>
    <div
      id="PKGS-CONTAINER2"
      class="text-carribean bg-papaya sq-styles mb-[150px] 2xl:px-[35px] px-3 py-5"
    >
      <div id="" class="bg- grid 2xl:grid-cols-2 py-5">
        <div id="sq1" class="xl:p-0 p-5 flex items-center">
          <img
            src="https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg"
            alt=""
            class="sq-styles-teal mr-4"
          />
        </div>
        <div id="sq2" class="ml-4 p-3">
          <div id="view-testimonial2" class="">
            <h2 class="text-xl opacity-80">package 02</h2>
            <h3 class="_textShadow text-4xl font-extrabold pb-1">
              The Rising Scout"
            </h3>
            <p class="bg-carribean text-parchment sq-styles mt-5 p-3">
              Rising carnivore: 1x updates per week
            </p>
            <ul class="lowercase font-semibold list-disc space-y-3 pt-5">
              <li>a template catered towards people starting out</li>
              <li>Taking your business to a whole another level.</li>
              <li>Custom, contact for unique and custom work,</li>
              <li>
                Basic animations/interactions with JavaScript, Contact form
                (optional).
              </li>
              <li>
                Free hosting setup (Netlify or GitHub Pages). Delivery in 48
                hours after content is received
              </li>
            </ul>
            <!-- <ButtonProps
              btn1="see different styles"
              btn1Link="/#see-different-styles"
            /> -->
          </div>
          <!-- ^ -->
        </div>
      </div>

      <div id="flex2" class="flex space-x-10 mt-2">
        <div id="sq3">
          <!--  -->
          <!--  -->
          <img
            src="https://images.pexels.com/photos/2041385/pexels-photo-2041385.jpeg"
            alt=""
            class="sq-styles mt-5"
          />
        </div>
        <div id="sq4">
          <img
            src="https://images.pexels.com/photos/19557629/pexels-photo-19557629.jpeg"
            alt=""
            class="sq-styles"
          />
        </div>
      </div>
    </div>
  </div>
</div>
