---
import WebDevGridSm from "./shared/grids/WebDevGridSm.astro";
---

<div class="my-[150px]">
  <div
    id="SOCIAL-PROOF-IP"
    class="bg-teal text-parchment py-2 border border-black flex items-center"
  >
    <ul class="px-3 mr-3 list-none text-3xl">
      <li>software development</li>
      <li class="py-1 my-5">web design</li>
      <li>copywriting</li>
    </ul>
    <WebDevGridSm />
  </div>
</div>
