---
import CenterPageBanner from "./shared/CenterPageBanner.astro";
import WebDevGridSm from "./shared/grids/WebDevGridSm.astro";
---

<CenterPageBanner
  BannerTitle="Social Proof"
  paragraph="I build custom applications for small businesses."
/>
<div
  id="HIGHLIGHTS THE KEYFEATURES AND AUDIENCE MESSAGE SECTIONS"
  class="bg- my-5 py-5 mt-5 pr-3 flex justify-center"
>
  <div id="TEST-grid" class="grid grid-cols-2 gap-10 mt-5 w-1/2">
    <img
      src="https://dl.dropboxusercontent.com/scl/fi/g23z3n6u9joennznyqxc4/lc-9-20-24.png?rlkey=q75joo6od6ixkfoxr9q57kfkb&st=19kz2kwm&dl=0"
      alt=""
      class="sq-styles"
    />

    <div id="sq2">
      <h2 class="font-bold">HoveyRoofing</h2>
      <ul>
        <li>fjksfjslkdfj</li>
        <li>fjksfjslkdfj</li>
        <li>fjksfjslkdfj</li>
      </ul>
    </div>
    <img
      src="https://images.pexels.com/photos/304664/pexels-photo-304664.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt=""
      class="sq-styles"
    />

    <img
      src="https://dl.dropboxusercontent.com/scl/fi/r2memu9vr71tw03oe57kz/IMG_0300.jpg?rlkey=k9upvwvx4vudmyv88f8srhxlu&st=g5s7cqo5&dl=0"
      alt=""
      class="sq-styles"
    />
  </div>
</div>
