---
const items = [
  {
    title: "Hovey Roofing",
    pic: "https://images.pexels.com/photos/1396122/pexels-photo-1396122.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
  },
  {
    title: "Generations Backflow",
    pic: "https://images.pexels.com/photos/357440/pexels-photo-357440.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
  },
];
---

<section id="wrapper" class="flex justify-center p-5">
  <div id="container" class="bg- p-5">
    <div id="grid" class="grid grid-cols-2 gap-5">
      {
        items.map((item) => (
          <div id="sq" class="p-5">
            <h2 class="font-bold text-3xl p-1 ">{item.title}</h2>
            <div>
              <img src={item.pic} alt={item.pic} class="border border-black" />
            </div>
            <p class="p-2">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima
              repellat aliq r corporis modi quam eos, mollitia consequatur nulla
              facilis fuga eligendi?
            </p>
          </div>
        ))
      }
    </div>
  </div>
</section>
