---
import CTA1 from "./sections/CTA1.astro";
import Unsure from "./sections/Unsure.astro";
---

<!-- ?CONTENT TO CONSIDER V --><!-- 
What knowledge/ audience do I have access to?
 Do you have connections with a industry, audience, or group that you can use? Is
there a niche, industry, or audience that you have a deep knowledge on that you
can use to your advantage? ## FIND UNIQUE COMBINATIONS of skills, experiences,
and personality (use to set self apart and become top 10% in industry)** ## What
are things that you enjoy learning about or creating endlessly? What energizes
you or makes you lose track of time? ## What experience can I use? List
transformation that you have achieved for yourself or others, that other people
would like to achieve? B. What do you wish you had known 1, 3, or 5 years ago
that you could help with now? Main difference is time spent working on it. --><!-- ?CONTENT TO CONSIDER ^ -->
<div id="teal-background" class="bg-teal text-parchment">
  <CTA1
    title="This is the web-dev-pg cta"
    paragraph1="expand on web dev pg"
    paragraph2=""
    link="/web-development"
  />
  <Unsure />
</div>
