<div id="wrapper" class="flex justify-center bg-teal">
  <div id="grid" class="grid grid-cols-4">
    <div id="sq1" class="bg-test1">1</div>
    <div id="sq2" class="bg-test2">2</div>
    <div id="sq3" class="bg-orange">3</div>
    <div id="sq4" class="bg-teal">4</div>
  </div>
</div>
