---
import WebDevGridSm from "../../components/shared/grids/WebDevGridSm.astro";
import DynamicAboutCTA from "../../components/DynamicAboutCTA";
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout>
  <div id="wrapper" class="py-5 my-5">
    <div id="container" class="bg-">
      <div id="gallery-banner" class="bg-test">
        <WebDevGridSm />
      </div>
      <div id="grid" class="py-5 grid md:grid-cols-2 grid-cols-1 gap-5">
        <div id="sq1" class="bg- flex md:justify-end justify-center">
          <div
            id="sq1-container"
            class="2xl:w-1/2 w-full flex lg:justify-end justify-center items-end bg-"
          >
            <DynamicAboutCTA isLoggedIn={true} username="HoveyRoofing" />
          </div>
        </div>
        <div id="sq2" class="lavender row-span-2">
          <img
            id="primary-img"
            src="https://images.pexels.com/photos/3792581/pexels-photo-3792581.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
            alt=""
            class="sq-styles p-5 m-5"
          />
        </div>

        <div id="sq3" class="bg- flex md:justify-end pl-5 ml-5"></div>
      </div>

      <div id="gallery-banner">
        <WebDevGridSm />
      </div>
    </div>
  </div>
</MainLayout>
